/*
shame.css - http://csswizardry.com/2013/04/shame-css/
*/

.wpcf7{

}

/* carousel */
.mobile-static{
	margin-bottom: 1em;
}


/* end carousel  */
/* Theme my login */
ul.tml-action-links{
	list-style: none;
	li{
		float:left;
		&:before{
			content: '\00A0 | \00A0';
		}
		&:first-child{
			&:before{
				content: none;
			}
		}
	}
}
/* Login page */
.page-id-132 {
	.login.first{
		margin-left:0;
	}
	.widget{
		form{
			margin:0px!important;
			padding:0px!important;
			font-weight: normal;
			background: transparent!important;
			border:none!important;
			-webkit-border-radius: none;
			-khtml-border-radius: none;
			-moz-border-radius: none;
			border-radius: none;
			-webkit-box-shadow: none;
			-khtml-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}
}
/* custom badge color */
.badge-white {
	background-color: #fff;
	color: #468847;
	font-family: 'Lato', sans-serif;
	border: 1px solid #D1D1D1;
}

/* products page */
.wpsc_product_search{
	display: none;
}
div.product_grid_display .row-fluid div.square{
	//height:581px;
	padding: 10px;
}
@media (max-width: 400px){
	.more_details{
		float: none!important;
		padding-left: 0;
	}
}
div.product_grid_item .quantity_container{
	display: inline;
}
.product_form fieldset{
	margin-left: 7px;
}
.prodtitle{
	margin: 0;
	line-height: 120%;
	margin-bottom: 10px;
	a{
		color: #591E00;
	}
}
.display-toggles{
	margin-left:46%;
}
.cart-buttons{
	margin-top: 10px;
}

.row-fluid .last{
	margin-left: 0!important;
	float: right!important;
}

/* checkout page */
.wpsc_checkout_forms,.wpsc_checkout_table_totals{
	display: none;
}
.wpsc_checkout_table.table-1.pull-left{
	margin-left: 0;
}
table.wpsc_checkout_table label{
	display: inline-block;
	width: 80px;
}
tr.same_as_shipping_row{
	label{
		width: 150px;
	}
}
table.hidden-shipping{

}
form.wpsc_checkout_forms table.payment-well{
	margin-left: 0;
}
input.quant_small{
	width:30px;
}
/* footer */
ul#menu-footer{
	margin-left: 0;
	margin-top: 20px;
}

/* newsletter signup */
.newsletter-signup{
	.wpcf7-form-control-wrap{
		margin-right: 10px;
	}
	input[type=submit]{

		margin-top: -11px;
	}
}

/* gifts page */
.page-template-page-gifts-php .featurette:first-child{
	margin-top: 0;
	margin-bottom: 4em;
}
.page-template-page-gifts-php .marketing{
	.span4{
		p{
			text-align: left;
		}
	}
}
.gift-card_wrapper div.validation_error {
	background: #790000!important;
	font-size: 2.2em!important;
	font-weight: bold!important;
	color: #fff!important;
	line-height: 1.8!important;
	padding: 10px!important;
}
/* account profile wpsc page */
.user-profile-links{
	margin-bottom: 10px;
}
table.profile-table{
	td{
		border-top: none;
	}
}
/* page article area fixes */
#main article{
	.article-wrap{
		margin-top:20px;
		.span6{
			margin-left:0;
			span.leadlike{
				margin-bottom: 20px;
				font-size: 21px;
				font-weight: 300;
				line-height: 30px;
			}
		}
	}
}
/* UL LI columns */
ul.columns,ol.columns{
	margin-bottom: 1em;
	list-style-position: inside;
	padding-left: 10px;
	display: inline-block;
	li {
		float: left;
		&.active{
			font-weight: bolder;

		}
	}
	&.two-columns li{
		width: 49%;
	}
	&.three-columns li{
		width: 32%
	}
	&.four-columns{
		width: 24%;
	}
}
div.tab-columns.tab-content{
	clear: both;
}