/* New Homepage (Sept 2016) */

$scriptFont:            NexaRustScriptL-00, Georgia, "Times New Roman", Times, serif !default;
$distressFont:          'bushcraftdistress', "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;



.home {
  border: 0;
  /* background: url("../images/lbnoise.png") repeat; */

  .row {
    margin-left: 0;
  }



  // content
  // slider
  .hero-slider {
    .row {
      background-position: center;
      background-size: cover;
    }
    .arrow {
      position: relative;

      .left {
        position: absolute;
        left: 0;
        top: 40%;
        cursor: pointer;
      }
      .right {
        position: absolute;
        right: 0;
        top: 40%;
        cursor: pointer;
      }
    }
    .link {
      background-color: #43a733;
      padding: 15px 30px;
      border-radius: 25px;

      position: relative;
      top: 480px;
      left: 40%;

      font-size: 16px;
      font-weight: 300;
      color: white;
    }

  }
  // soliloquy
  .hero-slider-soliloquy {
    .row {
        padding-top: 60px;
    }
    .container  > .row  > a.green-button {
      margin-left: auto !important;
      margin-right: auto !important;
      width: auto;
      //opacity: 0.99;
      z-index: 1000;
      line-height: 22px;
      padding: 6px 35px;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      text-shadow: none;
      text-align: center;
      position: absolute;
//      top: 60%;
      bottom: 40%;

      // Tablets & small desktops only
      @media (min-width: 768px) and (max-width: 979px) {
//        top: 50%;
        bottom: 50%;
      }
      // Phones only
      @media (min-width: 480px) and (max-width: 767px) {
        width: 42%;
//        top: 32%;
        bottom: 61%;
      }
      @media (max-width: 479px) {
        width: 50%;
      //  top: 30%;
        bottom: 65%;
      }

      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);


    }

    .banner {
      background-color: transparent;
      //margin-left: auto !important;
      //margin-right: auto !important;
      width: auto;
      padding: 0;

      position: absolute;
      top: 28%;
//      left: 22%;
      z-index: 1000;

      // Tablets & small desktops only
      @media (min-width: 1080px) and (max-width: 1550px) {
        width: 70%;
      }
      @media (min-width: 768px) and (max-width: 1079px) {
        width: 80%;
        top: 20%;
      }
      // Phones only
      @media (min-width: 480px) and (max-width: 767px) {
        width: 80%;
        top: 15%;
      }
      @media (max-width: 479px) {
        width: 80%;
        top: 14%;
      }
      @media (max-width: 370px) {
        width: 90%;
        top: 12%;
      }

      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%)
    }

    .banner-background {
      background-color: #583022;
      width: 100%;
      height: 100%;
//      padding: 30px;
      border: 2px solid white;

      position: absolute;
      top: 0;
      left: 0;
      opacity: .75;
      z-index: 100;
    }

    .banner-foreground {
      background-color: transparent;
      padding: 15px 15px 5px 25px;

      line-height: 22px;
      letter-spacing: 2px;
      font-weight: 100;
      font-family: "bushcraftdistress", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-shadow: none;
      color: #ffffee;
      position: relative;
      z-index: 1000;

      font-size: 72px;
      line-height: 72px;
      text-align: center;;

      // Tablets & small desktops only
      @media (min-width: 768px) and (max-width: 979px) {
        font-size: 48px;
        line-height: 48px;
      }
      // Phones only
      @media (min-width: 480px) and (max-width: 767px) {
        font-size: 30px;
        line-height: 30px;
      }
      @media (max-width: 479px) {
        font-size: 24px;
        line-height: 24px;
      }
      .ampersand {
        font-weight: 500;
      }
    }

    .soliloquy-container .soliloquy-prev {
        display: block;
        width: 67px;
        height: 141px;
        position: absolute;
        top: 50%;
        margin-top: -70px;
        left: -1px;
        z-index: 1320;
        background: rgba(255, 255, 255, 0.0) url(../images/hero-slider-arrow-left.png) no-repeat scroll 50% 50%;
    }
    .soliloquy-container .soliloquy-next {
        display: block;
        width: 67px;
        height: 141px;
        position: absolute;
        top: 50%;
        margin-top: -70px;
        right: 0px;
        z-index: 1320;
        background: rgba(255, 255, 255, 0.0) url(../images/hero-slider-arrow-right.png) no-repeat scroll 50% 50%;
    }
  }


  // steps
  .steps .step {

    h3 {
      font-family: $distressFont;
      size: 28px;
      color: #481c14;
      text-align: center;
    }
    .icon {
      margin: 35px auto;
      display: block;

        @media (max-width: 750px) {
            margin: 20px auto;
       }
    }
    p {
      margin: 0px 30px;
      text-align: center;
      color: #481c14;
      font-size: 17px;
    }
    .link {
      width: 100%;
      margin: 20px auto 35px;
      text-align: center;
      color: #1e9d0a;
      font-size: 17px;
      display:inline-block;
    }

  }

  // featured meals
  .featured-meals {
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
    text-align: center;

    .container {
        background-color: transparent;

        .row {
          margin-left: 0;
          padding: 20px 0;
        }
    }

    .featured-meals-title-block {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    .featured-meal {
        padding: 3% 4%;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;

        @media (min-width: 751px) and (max-width: 979px) {
            padding: 0;
       }
        @media (max-width: 750px) {
            padding: 3%;
       }

      .meal-title-small {
        margin: 0;
        font-family: $scriptFont;
        font-size: 36px;
        line-height: 1.1;
      }
      .meal-title-large {
        margin: 0;
        font-family: $distressFont;
        font-size: 66px;
        line-height: 1;

        @media (max-width: 767px) {
            font-size: 56px;
        }

      }
    .meal-title-small a, .meal-title-small a:hover,
    .meal-title-large a, .meal-title-large a:hover {
        color: white;
        text-decoration: none;
    }
    .meal-desc {
        margin-top: 25px;
    }
      p {
        font-size: 19px;
        line-height: 28px;
        color: white;
        text-align: left;
      }
      .product {
        background-color: transparent;
        border: 0;
      }
      .price {
        font-size: 14px;
        padding-top: 10px;
      }

      p.cart {
        text-align: center;
      }
      .single_add_to_cart_button {
        background-color: #6fbf39; /* green */
        margin: 20px 0 0 0;
        display: inline-block;
        border: 0;
        border-radius: 28px;
        padding: 6px 35px;
        font-size: 14px;
        color: white;

        &:hover {
          background-color: #7cd540; /*lighter green */
          text-decoration: none;
        }
      }

    }

    img {
      .left {
        float:left;
      }
      .right {
        float: right;
      }
    }
    .img-container-left {
      margin-left: -30px;
      padding: 3% 0 3% 3%;

        @media (min-width: 750px) and (max-width: 979px) {
            padding: 3% 3% 0 0;
        }
        @media (max-width: 750px) {
            margin-left: 0;
            padding: 3%;
       }
    }
    .img-container-right {
      margin-left: 0px;
      padding: 3% 3% 3% 0;

        @media (min-width: 750px) and (max-width: 979px) {
            padding: 3% 0 0 3%;
       }
        @media (max-width: 750px) {
            padding: 3%;
       }
    }
    .img-container-left, .img-container-right {
        img {
            padding: 0;
            margin: 0;
            max-width: 100%;
            border: 2px solid white;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.5);


      }
    }

    .green-button.larger-text {
        margin-bottom: 30px;
    }

  }

  .title-img {
    max-width: 90%;
  }

  // ingredients
  .ingredients {
        background-position: center bottom;
        background-size: cover;
        background-repeat: repeat-y;

    .row {
      padding-bottom: 20px;
    }

    .ingredients-title-block {
      width: 100%;
      text-align: center;
      margin: 50px 0 30px;

        @media (max-width: 750px) {
            margin: 30px 0 0;
       }
    }

    .ingredient {
      color: #eee;
      h3 {
        margin: 20px 40px;
        text-align: center;
        font-family: $distressFont;
        font-size: 36px;
        line-height: 36px;
        color: #eee;
      }
      .icon {
        margin: 35px auto;
        display: block;

        @media (max-width: 750px) {
            margin: 5px auto;
            transform: scale(0.75);
       }

      }
      ul {
        width: 90%;
        margin: 35px 5%;
        display: block;
        list-style-position: inside;
        list-style: none;
        li {
          background-repeat:no-repeat;
          background-position:left center;
          margin: 15px 60px;
          padding: 5px 0px 0px 40px;
          font-size: 19px;
          font-weight: 400;
          line-height: 26px;


        }
      }
    }

  }

  .quotes {

    .row {
      padding-top: 0;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      /* min-height: 324px; */
    }

    .arrow {
      position: relative;

      .left {
        position: absolute;
        left: 2%;
        top: 15%;
        cursor: pointer;
      }
      .right {
        position: absolute;
        right: 2%;
        top: 15%;
        cursor: pointer;
      }
    }

    .quote {
      margin: 30px auto 0px;
      text-align: center;
      line-height: 110px;
      font-family: 'Lato', serif;
      font-size: 33px;
      color: #ff8c01;
      font-style: italic;
      .publication {
        hr {
          color: #636064;
          border-top: 4px solid #848384;
          border-bottom: 1px solid #848384;
        }
        display: inline-block;
        font-family: 'Lato', serif;
        line-height: 24px;
        font-size: 18px;
        font-weight: 300;
        color: #636064;
        font-style: italic;
      }
    }

    .logos {
        .logo {
            position: relative;
            img {
              padding-top: 40px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: block;
            }
        }

        .logo-phone {
            position: relative;
            img {
              margin: auto;
              padding: 0px 0;
              display: block;
            }
        }
      display: block;
      vertical-align: middle;
    }
  }
  // soliloquy
  .quotes-soliloquy {
    padding-top: 5px;

    .container {
        padding-top: 0;
    }
    .row {
      padding-top: 0;
    }

    .quote-text {
      font-family: $scriptFont;

        @media (max-width: 750px) {
            font-size: 30px !important;
            line-height: 1 !important;
       }
    }
    .quote-author {
      font-family: 'Lato', serif !important;
      font-style: italic  !important;

        @media (max-width: 750px) {
            font-size: 20px !important;
             margin-top: 25px;
       }
    }

    @media (max-width: 750px) {
        .tp-parallax-wrap {
            left: 0 !important;
            width: 100% !important;
        }
        .tp-loop-wrap, .tp-mask-wrap {
            width: 100% !important;
        }
        .tp-caption {
            width: 90% !important;
            max-width: 90% !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
        }
   }

    hr {
      border-color: #848383;
    }
    .soliloquy-container .soliloquy-prev {
        display: block;
        width: 25px;
        height: 70px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        left: 10px;
        z-index: 1320;
        background: rgba(255, 255, 255, 0.7) url(../images/quotes-arrow-left.png) no-repeat scroll 50% 50%;
    }
    .soliloquy-container .soliloquy-next {
        display: block;
        width: 25px;
        height: 70px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        right: 10px;
        z-index: 1320;
        background: rgba(255, 255, 255, 0.7) url(../images/quotes-arrow-right.png) no-repeat scroll 50% 50%;
    }
  }



  // newsletter, gravity form
  /*
  .newsletterx {
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fbfbf0;

    padding-top: 320px;
    // Tablets & small desktops only
    @media (min-width: 768px) and (max-width: 979px) { padding-top: 220px;}
    // Phones only
    @media (max-width: 767px) { padding-top: 120px;}

        .homepage-v2-newsletter_wrapper {
          //background-color: #f8f7eb;
          //background-color: #fbfbf0;

          font-family: Lato, sans-serif;
          margin: 0;

          .gform_description {
            font-family: 'Lato', sans-serif;
            font-size: 33px;
            line-height: 38px;
            font-weight: 100;
            text-align: center;
            color: #ff8c01;
          }
          form {
            background-color: transparent;
            margin: 0 6%;
            padding: 40px 0;

          }

          //
          .gfield_description {
            font-size: 18px;
            font-weight: 100;
            color: white;
            width: inherit;
            display: inline-block;
          }

          // form
          ul.gform_fields {
            margin: 12%;
          }

          // email, password
          li.newsletter-name, li.newsletter-email, li.newsletter-zip {
            display: inline-block;
            width: 165px;
            width: 255px;
            @media (min-width: 979px) and (max-width: 1200px) {
              width: 50%;
              width: 205px;
             }
            // Tablets
            @media (min-width: 768px) and (max-width: 979px) { width: 50%; }
            // Phones
            @media (max-width: 767px) { width: 100%; }
          }

          label.gfield_label {
            display: none;
          }
          input.large   {
            height: 34px;
            width: 100%;
            border: 2px solid #ddd;
            line-height: 34px;
            font-size: 15px;
            font-style: italic;
          }

          .gform_footer {
            text-align: center;
          }

          //color: #8dc63f;
          .gform_footer input.button, .gform_footer input[type=submit]   {
            background-image: none;
            background-color: #ff8c01;
            border: 0;
            border-radius: 22px;
            padding: 12px 55px;
            font-size: 19px;
            font-family: Lato, sans-serif;
            font-weight: 300;
            color: white;
            height: 50px;
          }
        }
  }

*/




  #content {


    // Tablets & small desktops only
    @media (min-width: 768px) and (max-width: 979px) { }
    // Phones only
    @media (max-width: 767px) { }

  }


}

// Default Desktop 980px+
// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {

}
// Phones only
@media (max-width: 767px) {

}
