
// boston public market landing page
body.landing-page {
  border: 0;
  background-color: #2a1407;

  #content {
    //background-image: url("../images/background-landing-bpm.jpg");
    background-color: black;
    background-color: #2a1407;
    background-repeat: no-repeat;
    height: 817px;
    height: 768px;
    width: 1024px;
    padding-top: 0px;

    color: white;

    // Tablets & small desktops only
    @media (min-width: 768px) and (max-width: 979px) { }
    // Phones only
    @media (max-width: 767px) { }

    .logo img {
      margin: 10px 20px 0px;
    }
    h1 {
      margin: 60px 0;
      margin: 0px 0 30px;
      font-family: 'Roboto Slab';
      font-weight: 700;
      color: white;
      text-align: center;
      font-size: 50px;
    }

    .form-container {
      position: relative; margin: auto;
    }
    .form-foreground {
      margin: 0 14% 0 18%;
      margin: 0 16% 0 14%;
      opacity: 0.99;
      z-index: 1000;
    }
    .form-background {
      background-color: #260c06;
      width: 100%;
      min-height: 450px;
      min-height: 420px;
      width: 76%;
      margin: 0 6% 0 10%;
      border-radius: 20px;

      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.82;
      z-index:0;
    }

    // form wrapper
    .landing-page-bpm_wrapper {
      font-family: Lato, sans-serif;

      .gform_description {
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-size: 27px;
        font-weight: 300;
        text-align: center;
        color: white;
      }
      form {
        background-color: transparent;
        //margin: 0 6%;
        padding: 20px 0;
        padding: 40px 0;
        padding: 15px 0;

      }

      // question
      .gfield_description {
        margin: 8px 0;;

        font-size: 18px;
        font-weight: 300;
        font-weight: normal;
        font-weight: 400;
        color: white;
        width: inherit;
        display: inline-block;

      }


      // question radio buttons
      .label-true-false {
        float:right;
        margin-right: 20px;
        letter-spacing: 21px;
      }
      .landing-page-question {
        div.ginput_container {
          margin-top: 0;
          display: inline-block;
          float:right;
        }
        ul.gfield_radio {
          width: 30px;
          display:inline;
          li {
            display: inline;
            margin: 0 20px;
            margin: 0 40px;
            label {
              display: none;
            }
          }
          input[type=radio] {
            transform: scale(1.5);
          }

        }
      }

      // email, password
      li.landing-page-input {
        display: inline-block;
        //width: 232px;
      }
      li.landing-page-input .ginput_container_text {
        width: 182px;
      }
      li.landing-page-input .ginput_container_email {
        width: 292px;
      }

      label.gfield_label {
        display: none;
      }
      input.medium   {
        height: 34px;
        width: 100%;
        border: 2px solid #ddd;
        line-height: 34px;
        font-size: 15px;
        font-style: italic;
      }

      .gform_footer {
        text-align: center;
      }

      //color: #8dc63f;
      .gform_footer input.button, .gform_footer input[type=submit]   {
        background-color: #8dc63f;
        border: 0;
        border-radius: 22px;
        padding: 12px 30px;
        font-size: 23px;
        font-family: Lato, sans-serif;
        font-weight: 300;
        color: white;
      }

      div.validation_error {
        color: white;
        border-color: white;
        font-weight: 300;
      }
    }


    .landing-page-bpm {
      .gform_confirmation_message {
        padding: 30px 20px;
        color: white;
        font-weight: 300;

        h1, h2, h3, h4, h5, h6 {
          color: white;
          margin: 10px 0px;
        }

      }
    }

  } // end content

  .landing-footer {
    display: none;
  }
}

// Default Desktop 980px+
// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) { }
// Phones only
@media (max-width: 767px) { }
