/* Used when testing to ensure regular customers don't accidentally choose COD */
.payment_method_cod{
	display:none;
}
#stripe-payment-data .woocommerce-SavedPaymentMethods label{
	display:inline-block;
}
.woocommerce-checkout form .form-row .input-checkbox{
	margin:9px -9px 0 0 !important;
}
.select_date_wrap {
	position: fixed;
	top: 50px;
	z-index: 100;
	width: 100%;
	/*height: 70px;*/
	background: #ffffff;
	left: 0;
	right: 0;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
	/*box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);*/
	box-sizing: border-box;
	/*padding: 10px 0;*/
	font-size: 0;
}
.select_date_wrap .day-unit {
	padding: 15px 20px !important;
	cursor: pointer;
	/*height: 60px;*/
	display: inline-block;
	transition: all linear 0.2s, box-shadow linear 0.2s;
	/*margin: 5px 5px 0;*/
	border-radius: 0;
	background: none !important;
	border-bottom: 3px solid transparent;
	background: #ffffff;
	vertical-align: top;
	color: #591e00;
	font-size: 22px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}
.select_date_wrap .day-unit div {
	display: inline-block;
	padding-right: 5px;
}
/*.select_date_wrap .day-unit:hover {*/
/*border-color: #468847;*/
/*color: #468847;*/
/*text-decoration: none;*/
/*}*/
.select_date_wrap button {
	/*color: #ffffff !important;*/
	/*background: #591e00 !important;*/
	/*border-color: #591e00 !important;*/
	margin: 12px 5px 0;
}
.select_date_wrap .day-unit:hover {
	/*color: #ffffff !important;*/
	/*background: #468847 !important;*/
	border-color: #468847 !important;
	text-decoration: none;
}
.select_date_wrap .span9:not(.result_hover) .active {
	border-color: #468847 !important;
	text-decoration: none;
}
.select_date_wrap .hero-unit:hover {
	/*box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);*/
}
.select_date_wrap h2 {
	font-size: 14px;
	margin: 0;
}
.select_date_wrap .green-button {
	display: none;
}
.dateslider{
	width:25px;
	height:25px;
	/*display: inline-block;*/
	border:none;
	font-size:21px;
	margin:0 15px;
	cursor:pointer;
	transition:all 0.4s ease;
	position:relative;
	top:13px;
	display:none;
}
.disabledBtn{
	opacity:.65;
	color:#cccccc !important;
	border-color:#cccccc !important;
	cursor:default !important;
}
.dateslider:hover{
	color:#468847;
	border-color:#468847;
}
/*.select_date_wrap .span6 {*/
/*width: 110px !important;*/
/*margin: 0 5px !important;*/
/*float: none !important;*/
/*display: inline-block !important;*/
/*}*/
.select_date_wrap .delivery-date-selection-title{
	display:none;
}
#sidebar1 > .widget.well.cart-well{
	display:none !important;
}
ul.products > .hero-unit, ul.products > .show-order-now{
	display:none !important;
}
#sidebar1 > .delivery-date-only .widgettitle{
	text-align:center;
	font-size:24px;
	padding-bottom:15px;
}
#sidebar1 > .delivery-date-only .textwidget p{
	margin-bottom:10px;
}
#sidebar1 > .delivery-date-only .textwidget p strong{
	display:block;
}
.post-type-archive-product ul.products li.product .green-button{
	width:100% !important;
	max-width:94%;
}
@media (max-width:1200px){
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		padding:1% 1% 30px 1%;
	}
}
@media (max-width:480px){
	#sidebar1 .delivery-date-only{
		display:none;
	}
	#sidebar1{
		display:-webkit-box;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		-webkit-box-align:stretch;
		-ms-flex-align:stretch;
		-webkit-align-items:stretch;
		-moz-align-items:stretch;
		align-items:stretch;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		-webkit-justify-content:space-between;
		-moz-justify-content:space-between;
		justify-content:space-between;
	}
	#sidebar1 > *{
		-webkit-flex-basis:100%;
		-moz-flex-basis:100%;
		-ms-flex-basis:100%;
		flex-basis:100%;
	}
	body #sidebar1 .widget_shopping_cart:last-child{
		display:none !important;
	}
	#woocommerce_widget_cart-2{
		order:1;
	}
	#custom_html-2{
		order:2;
	}
	#sidebar1 > .widget.well:first-child{
		order:3;
	}
	.post-type-archive-product #content{
		padding-top:0;
	}

}
.page-id-528 .page-title{
	text-transform:capitalize;
}
.page-id-528 .woocommerce-Addresses + .addresses{
	padding:20px;
	background:#eeeeee;
	border:1px solid #dddddd;
	border-radius:3px;
	margin-top:20px;
	position:relative;
}
.page-id-528 .woocommerce-Addresses + .addresses .edit{
	position:absolute;
	right:20px;
	top:20px;
}
.page-id-25366 .et_pb_section_1 .et_pb_text_inner a{
	color:#6d4938 !important;
}
.page-id-25366 .et_pb_section.et_pb_section_2 a{
	color:#ffffff !important;
}
.page-id-25366 .et_pb_section_2 .et_pb_text_inner a{
	color:#ffffff !important;
}
.page-id-25366 .et_pb_section_0 .et_pb_text_inner a{
	color:#ffffff !important;
}
.page-id-25366 .et_pb_row.et_pb_row_1 .zipForm input{
	color:#fff !important;
}
.page-id-25366 .et_pb_row.et_pb_row_1 ::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
	color:#fff !important;
}
.page-id-25366 .et_pb_row.et_pb_row_1 ::-moz-placeholder{ /* Firefox 19+ */
	color:#fff !important;
}
.page-id-25366 .et_pb_row.et_pb_row_1 :-ms-input-placeholder{ /* IE 10+ */
	color:#fff !important;
}
.page-id-25366 .et_pb_row.et_pb_row_1 :-moz-placeholder{ /* Firefox 18- */
	color:#fff !important;
}
.woocommerce-message{
	border-color:transparent !important;
	background:#ececec !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.my-account-my-orders-title{
	margin-bottom:15px;
	display:block;
}
.my-account-my-orders-title-description{
	margin-bottom:15px;
}
.order-info mark{
	background:none !important;
}
.cancel-order-notification{
	display:block;
	padding-bottom:20px;
}
#order-info{
	text-align:center;
}
body .delivery-date-check{
	font-size:16px !important;
	text-align:left !important;
	margin-bottom:15px !important;
}
.delivery-date-selection-title{

	color:#5a5a5a !important;
	font-size:16px !important;
	text-align:left !important;
}
body .delivery-date-check, .cart-delivery-date{
	background-color:inherit !important;
	padding:0 !important;
}
.woocommerce-view-order .woocommerce-MyAccount-content .order-number, .woocommerce-view-order .woocommerce-MyAccount-content .order-date{
	font-weight:700;
}
a[data-src="#hidden-content"]{
	font-weight:400 !important;
}
.woocommerce-MyAccount-content .button.ccorder{
	display:none !important;
}
.spinner{
	width:50px;
	height:50px;

	position:relative;
	margin:10px auto;
}
.double-bounce1, .double-bounce2{
	width:100%;
	height:100%;
	border-radius:50%;
	background-color:#777;
	opacity:0.6;
	position:absolute;
	top:0;
	left:0;

	-webkit-animation:sk-bounce 2.0s infinite ease-in-out;
	animation:sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2{
	-webkit-animation-delay:-1.0s;
	animation-delay:-1.0s;
}
@-webkit-keyframes sk-bounce{
	0%, 100%{
		-webkit-transform:scale(0.0)
	}
	50%{
		-webkit-transform:scale(1.0)
	}
}
@keyframes sk-bounce{
	0%, 100%{
		transform:scale(0.0);
		-webkit-transform:scale(0.0);
	}
	50%{
		transform:scale(1.0);
		-webkit-transform:scale(1.0);
	}
}
.post-type-archive-product #content{
	padding-top:80px !important;
}
@media (max-width:480px){
	.select_date_wrap{
		position:static;
		top:50px;
		z-index:100;
		width:100%;
		height:auto;
		background:#ffffff;
		left:0;
		right:0;
		text-align:center;
		border-bottom:none;
		box-shadow:none;
		margin-bottom:20px;
	}
	.select_date_wrap button{
		display:none;
	}
	.post-type-archive-product #content{
		padding-top:0 !important;
	}
}