/* line 1, ../scss/custom.scss */
body {
  padding-top: 0px;
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  background: url("../images/noise.png");
  border-top: 6px solid #591e00;
}
/* line 7, ../scss/custom.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #591E00;
  font-weight: 400;
}
/* line 15, ../scss/custom.scss */
body a {
  color: #167d00;
}

/* line 20, ../scss/custom.scss */
h1.text-center {
  color: #247F09;
}

/* line 24, ../scss/custom.scss */
footer {
  margin-top: 2em;
  font-family: "Lato", sans-serif;
}

/* line 29, ../scss/custom.scss */
.page-top-header {
  background: url("../images/lbnoise.png");
}

/* line 33, ../scss/custom.scss */
.footer-top {
  background: url("../images/dnoise.png");
  overflow: auto;
  padding: 25px 0;
}
/* line 37, ../scss/custom.scss */
.footer-top .pull-right {
  float: none;
  margin: 1em 0 0 3em;
}
@media screen and (min-width: 500px) {
  /* line 37, ../scss/custom.scss */
  .footer-top .pull-right {
    float: right;
    margin: 0;
  }
}
/* line 46, ../scss/custom.scss */
.footer-top .pull-left {
  float: none;
  margin-left: 1em;
}
@media screen and (min-width: 500px) {
  /* line 46, ../scss/custom.scss */
  .footer-top .pull-left {
    float: left;
  }
}

/* line 55, ../scss/custom.scss */
.hero-unit {
  background: url("../images/lbnoise.png");
  padding: 2% 5%;
}

/* line 60, ../scss/custom.scss */
.well {
  background: url("../images/lbnoise.png");
  border: none;
}

/* line 65, ../scss/custom.scss */
.footer {
  margin-top: 2em;
  background: url("../images/lbnoise.png") repeat;
  padding-bottom: 1em;
}
/* line 69, ../scss/custom.scss */
.footer div a.btn {
  margin: 0 5px;
}
/* line 72, ../scss/custom.scss */
.footer ul.nav.inline li:first-child {
  padding-left: 0;
}
/* line 75, ../scss/custom.scss */
.footer .social-buttons {
  float: right;
}
/* line 77, ../scss/custom.scss */
.footer .social-buttons img {
  border-radius: 7px;
  box-shadow: -1px -1px 1px #aaaaaa;
  margin-left: 10px;
}
/* line 83, ../scss/custom.scss */
.footer .nav-footer li {
  margin-right: 28px;
}
/* line 85, ../scss/custom.scss */
.footer .nav-footer li a {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
/* line 91, ../scss/custom.scss */
.footer .footer-addr {
  font-family: "Lato", sans-serif;
}

/* line 96, ../scss/custom.scss */
ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 102, ../scss/custom.scss */
.brownbg {
  clear: both;
  background: url("../images/brown-paper.jpg");
  padding: 25px 0;
}
/* line 106, ../scss/custom.scss */
.brownbg h1 {
  color: #fff;
}

/* line 111, ../scss/custom.scss */
.top-bg {
  background: url("../images/brownnoise.png");
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: -1;
  margin-top: -41px;
}

/* line 120, ../scss/custom.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* line 131, ../scss/custom.scss */
.navbar .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: transparent;
  color: #1c5006;
}

/* line 137, ../scss/custom.scss */
.navbar {
  margin-top: 15px;
}
/* line 141, ../scss/custom.scss */
.navbar .nav > li > a {
  font-size: 18px;
  padding: 10px 10px;
  color: #4f973a;
  text-decoration: none;
  margin-right: 10px;
}
/* line 151, ../scss/custom.scss */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
/* line 157, ../scss/custom.scss */
.navbar .brand {
  padding: 0;
  /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
/* line 165, ../scss/custom.scss */
.navbar li > a > span.badge {
  font-size: 9px;
  margin-left: 4px;
  position: relative;
  bottom: 3px;
  margin-top: 5px;
}
/* line 178, ../scss/custom.scss */
.navbar .nav-collapse, .navbar .nav-collapse.collapse {
  background: url("../images/lbnoise.png");
}

/* !carousel */
/* line 184, ../scss/custom.scss */
.carousel {
  box-shadow: 1px 1px 8px #591e00;
  margin-bottom: 0px;
}
/* line 187, ../scss/custom.scss */
.carousel .container {
  position: relative;
  z-index: 9;
}
/* line 192, ../scss/custom.scss */
.carousel .item {
  height: 500px;
}
/* line 195, ../scss/custom.scss */
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* line 204, ../scss/custom.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  font-weight: 400;
  opacity: 1;
}

/* line 216, ../scss/custom.scss */
.carousel-caption {
  background: rgba(89, 30, 0, 0.6);
  border-radius: 15px;
  position: static;
  max-width: 550px;
  padding: 20px 20px;
  margin-top: 230px;
}
/* line 223, ../scss/custom.scss */
.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 229, ../scss/custom.scss */
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 265, ../scss/home.scss */
/* line 239, ../scss/custom.scss */
.marketing {
  background: url("../images/lbnoise.png");
  padding: 60px 0;
}
/* line 242, ../scss/custom.scss */
.marketing .span4 {
  text-align: center;
}
/* line 244, ../scss/custom.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 249, ../scss/custom.scss */
.marketing h2 {
  font-weight: normal;
}
/* line 252, ../scss/custom.scss */
.marketing .span12.headline {
  margin-bottom: 2em;
}
/* line 255, ../scss/custom.scss */
.marketing .call-to-action {
  margin-top: 2em;
}
/* line 257, ../scss/custom.scss */
.marketing .call-to-action .tease {
  margin-right: 1em;
  font-size: 28px;
  line-height: 42px;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #591E00;
  font-weight: 400;
}

/* line 271, ../scss/custom.scss */
p.tiles-paragraph {
  font-size: 18px;
  line-height: 24px;
}

/* line 276, ../scss/custom.scss */
.green-marketing {
  background: url("..images/greennoise.png");
  padding: 60px 0;
}
/* line 279, ../scss/custom.scss */
.green-marketing .span4 {
  text-align: center;
}
/* line 281, ../scss/custom.scss */
.green-marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 286, ../scss/custom.scss */
.green-marketing h2 {
  font-weight: normal;
}
/* line 289, ../scss/custom.scss */
.green-marketing .span12.headline {
  margin-bottom: 2em;
}

/* Featurettes
------------------------- */
/* line 300, ../scss/custom.scss */
.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}

/* line 306, ../scss/custom.scss */
.featurette {
  padding-top: 60px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}
/* line 311, ../scss/custom.scss */
.featurette .featurette-image {
  margin-top: 0px;
  max-width: 400px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
/* line 315, ../scss/custom.scss */
.featurette .featurette-image.pull-left {
  margin-right: 40px;
}
/* line 318, ../scss/custom.scss */
.featurette .featurette-image.pull-right {
  margin-left: 40px;
}
/* line 322, ../scss/custom.scss */
.featurette:first-child {
  margin-top: 2em;
}
/* line 325, ../scss/custom.scss */
.featurette:last-child {
  margin-bottom: 2em;
}

/* line 330, ../scss/custom.scss */
.featurette-small {
  padding-top: 0px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}
/* line 335, ../scss/custom.scss */
.featurette-small .featurette-image {
  margin-top: 0px;
  max-width: 400px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
/* line 339, ../scss/custom.scss */
.featurette-small .featurette-image.pull-left {
  margin-right: 40px;
}
/* line 342, ../scss/custom.scss */
.featurette-small .featurette-image.pull-right {
  margin-left: 40px;
}
/* line 346, ../scss/custom.scss */
.featurette-small .featurette-content {
  padding-top: 4em;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* Thin out the marketing headings */
/* line 354, ../scss/custom.scss */
.featurette-heading {
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #258009;
}
/* line 360, ../scss/custom.scss */
.featurette-heading span {
  color: #244F09;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 373, ../scss/custom.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 377, ../scss/custom.scss */
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  /* line 382, ../scss/custom.scss */
  .carousel .item {
    height: 210px;
  }
  /* line 385, ../scss/custom.scss */
  .carousel img {
    width: auto;
    height: 210px;
  }

  /* line 390, ../scss/custom.scss */
  .featurette {
    height: auto;
    padding: 0;
  }

  /* line 396, ../scss/custom.scss */
  .featurette-image.pull-left, .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  /* line 407, ../scss/custom.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 411, ../scss/custom.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* line 414, ../scss/custom.scss */
  .carousel .item, .carousel img {
    height: 150px;
  }

  /* line 418, ../scss/custom.scss */
  .carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  /* line 423, ../scss/custom.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }
  /* line 426, ../scss/custom.scss */
  .carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
  }

  /* line 430, ../scss/custom.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  /* line 434, ../scss/custom.scss */
  .featurette-heading {
    font-size: 30px;
  }

  /* line 438, ../scss/custom.scss */
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media (max-width: 630px) {
  /* line 447, ../scss/custom.scss */
  .masthead .button-container {
    width: 40px;
    z-index: 999;
  }

  /*
    .nav-collapse, .nav-collapse.collapse {
  	  z-index: 999;
  	  border-radius: 4px;
    }
  */
  /* line 461, ../scss/custom.scss */
  .featurette .featurette-image:pull-right {
    margin-left: 0!important;
  }
  /* line 464, ../scss/custom.scss */
  .featurette .featurette-image:pull-left {
    margin-right: 0!important;
  }
}
/* line 471, ../scss/custom.scss */
.masthead {
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  /* line 471, ../scss/custom.scss */
  .masthead {
    margin-bottom: 1em;
    margin-top: .5em;
  }
}
@media screen and (max-width: 767px) {
  /* line 471, ../scss/custom.scss */
  .masthead {
    margin-bottom: 0;
    margin-top: 0;
  }
}
/* line 486, ../scss/custom.scss */
.masthead ul {
  margin-top: .5em;
}
/* line 489, ../scss/custom.scss */
.masthead a.brand {
  width: 350px;
  /*
  	  @media screen and (max-width: 1200px) {
  	    width: 300px;
  	  }
  */
}
@media screen and (max-width: 1200px) {
  /* line 489, ../scss/custom.scss */
  .masthead a.brand {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  /* line 489, ../scss/custom.scss */
  .masthead a.brand {
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  /* line 489, ../scss/custom.scss */
  .masthead a.brand {
    width: 225px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
/* line 510, ../scss/custom.scss */
.masthead a.brand p {
  text-shadow: none;
  font-weight: normal;
}
/* line 516, ../scss/custom.scss */
.masthead .button-container button {
  position: relative;
}
/* line 519, ../scss/custom.scss */
.masthead .button-container span.badge {
  position: absolute;
  top: -10px;
  left: 21px;
}

/* line 527, ../scss/custom.scss */
div.row.button-row {
  margin-top: 1em;
}

/* line 531, ../scss/custom.scss */
.product {
  margin-top: 2em;
  position: relative;
  background: #fcfcfc;
  padding: 10px 20px 3px 10px;
}
/* line 537, ../scss/custom.scss */
.product.row .span4 h2 {
  margin-top: 0;
}
/* line 540, ../scss/custom.scss */
.product.row .product-title {
  position: absolute;
  top: 3em;
  padding: 5px 10px;
  color: #fff;
  background: rgba(113, 113, 113, 0.8);
}
/* line 547, ../scss/custom.scss */
.product.row .product-content {
  display: block;
  padding: 1em;
}

/* line 554, ../scss/custom.scss */
img.featured-image {
  margin-bottom: 1em;
}

/* line 559, ../scss/custom.scss */
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  clear: both;
}
/* line 563, ../scss/custom.scss */
.article img.pull-right {
  margin-left: 1em;
}
/* line 566, ../scss/custom.scss */
.article img.pull-left {
  margin-right: 1em;
}

/* line 572, ../scss/custom.scss */
#sidebar1 .cart .item {
  margin-bottom: 1em;
  overflow: auto;
}
/* line 575, ../scss/custom.scss */
#sidebar1 .cart .item .image {
  margin-left: 0;
}
/* line 578, ../scss/custom.scss */
#sidebar1 .cart .item .info {
  margin-left: 0;
}
/* line 580, ../scss/custom.scss */
#sidebar1 .cart .item .info .badge {
  float: right;
}

/* line 590, ../scss/custom.scss */
.stack .row {
  margin-bottom: 2em;
}

/* line 594, ../scss/custom.scss */
.form-horizontal .control-label {
  text-align: left;
}

/* line 598, ../scss/custom.scss */
span.wpcf7-form-control-wrap {
  display: inline;
}

/* line 602, ../scss/custom.scss */
.article img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 610, ../scss/custom.scss */
.article img[align="right"] {
  margin-left: 1em;
}
/* line 613, ../scss/custom.scss */
.article img[align="left"] {
  margin-right: 1em;
}

/* line 618, ../scss/custom.scss */
div.widget h4.widgettitle {
  font-size: 25px;
  line-height: 30px;
}

/* line 622, ../scss/custom.scss */
div.versus-table .featurette-heading {
  margin: 1em 0;
}
/* line 625, ../scss/custom.scss */
div.versus-table .vs-graphic {
  position: absolute;
  margin-left: -75px;
  margin-top: 235px;
  z-index: 5;
  width: 85px;
  height: 85px;
  background: url("../images/vsbtn.png");
  background-size: cover;
}
@media screen and (max-width: 480px) {
  /* line 625, ../scss/custom.scss */
  div.versus-table .vs-graphic {
    position: relative;
    margin: 0 auto;
  }
}
/* line 645, ../scss/custom.scss */
div.versus-table table tr h1 {
  background: #247F09;
  color: white !important;
  padding: 40px 25px;
  border: 0;
  border-bottom: 25px solid #50983b;
  font-size: 28px;
  margin-bottom: -5px;
}
/* line 656, ../scss/custom.scss */
div.versus-table table th {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 661, ../scss/custom.scss */
div.versus-table table thead {
  padding: 0 !important;
  margin: 0 !important;
}
/* line 666, ../scss/custom.scss */
div.versus-table table td {
  background: url("../images/lbnoise.png") repeat;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  padding: 25px 30px !important;
  color: #444;
  border-top: 0 !important;
  border-bottom: 1px solid white !important;
  border-color: #aaaaaa !important;
}
