#cta-banner,
#cta-banner a {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: orange;
  margin: 25px 5px;
  padding: 10px;
  text-align: center;
}
table.variations { width: 100%; overflow: auto;  }
table.variations td.label {
  display:none;
}
.single_variation_wrap { display: block; width: 80%; overflow: auto; }
.single_variation { float: left; width: 30%; display: inline-block; margin-top: 5px; }
