/* line 1, ../scss/skeuocard.reset.scss */
.skeuocard.js {
  /* HTML5 display-role reset for older browsers */
}
/* line 2, ../scss/skeuocard.reset.scss */
.skeuocard.js * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, ../scss/skeuocard.reset.scss */
.skeuocard.js html, .skeuocard.js body, .skeuocard.js div, .skeuocard.js span, .skeuocard.js applet, .skeuocard.js object, .skeuocard.js iframe,
.skeuocard.js h1, .skeuocard.js h2, .skeuocard.js h3, .skeuocard.js h4, .skeuocard.js h5, .skeuocard.js h6, .skeuocard.js p, .skeuocard.js blockquote, .skeuocard.js pre,
.skeuocard.js a, .skeuocard.js abbr, .skeuocard.js acronym, .skeuocard.js address, .skeuocard.js big, .skeuocard.js cite, .skeuocard.js code,
.skeuocard.js del, .skeuocard.js dfn, .skeuocard.js em, .skeuocard.js img, .skeuocard.js ins, .skeuocard.js kbd, .skeuocard.js q, .skeuocard.js s, .skeuocard.js samp,
.skeuocard.js small, .skeuocard.js strike, .skeuocard.js strong, .skeuocard.js sub, .skeuocard.js sup, .skeuocard.js tt, .skeuocard.js var,
.skeuocard.js b, .skeuocard.js u, .skeuocard.js i, .skeuocard.js center,
.skeuocard.js dl, .skeuocard.js dt, .skeuocard.js dd, .skeuocard.js ol, .skeuocard.js ul, .skeuocard.js li,
.skeuocard.js fieldset, .skeuocard.js form, .skeuocard.js label, .skeuocard.js legend,
.skeuocard.js table, .skeuocard.js caption, .skeuocard.js tbody, .skeuocard.js tfoot, .skeuocard.js thead, .skeuocard.js tr, .skeuocard.js th, .skeuocard.js td,
.skeuocard.js article, .skeuocard.js aside, .skeuocard.js canvas, .skeuocard.js details, .skeuocard.js figcaption, .skeuocard.js figure,
.skeuocard.js footer, .skeuocard.js header, .skeuocard.js hgroup, .skeuocard.js menu, .skeuocard.js nav, .skeuocard.js section, .skeuocard.js summary,
.skeuocard.js time, .skeuocard.js mark, .skeuocard.js audio, .skeuocard.js video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 25, ../scss/skeuocard.reset.scss */
.skeuocard.js article, .skeuocard.js aside, .skeuocard.js details, .skeuocard.js figcaption, .skeuocard.js figure,
.skeuocard.js footer, .skeuocard.js header, .skeuocard.js hgroup, .skeuocard.js menu, .skeuocard.js nav, .skeuocard.js section {
  display: block;
}
/* line 28, ../scss/skeuocard.reset.scss */
.skeuocard.js body {
  line-height: 1;
}
/* line 31, ../scss/skeuocard.reset.scss */
.skeuocard.js ol, .skeuocard.js ul {
  list-style: none;
}
/* line 34, ../scss/skeuocard.reset.scss */
.skeuocard.js blockquote, .skeuocard.js q {
  quotes: none;
}
/* line 38, ../scss/skeuocard.reset.scss */
.skeuocard.js blockquote:before, .skeuocard.js blockquote:after,
.skeuocard.js q:before, .skeuocard.js q:after {
  content: '';
  content: none;
}
/* line 42, ../scss/skeuocard.reset.scss */
.skeuocard.js ins {
  text-decoration: none;
}
/* line 45, ../scss/skeuocard.reset.scss */
.skeuocard.js del {
  text-decoration: line-through;
}
/* line 48, ../scss/skeuocard.reset.scss */
.skeuocard.js table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 52, ../scss/skeuocard.reset.scss */
.skeuocard.js input, .skeuocard.js fieldset {
  line-height: normal;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width: auto;
}
