/**
 * WooCommerce CSS
 *
 * @package Klein
 * @since version 1.0
 */

.clear {
    clear: both;
}
.nobr {
    white-space: nowrap;
}
@font-face{font-family:'star';src:url('../fonts/star.eot');src:url('../fonts/star.eot?#iefix') format('embedded-opentype'), 
url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');font-weight:normal;font-style:normal}

.woocommerce .type-product {
}

.woocommerce .type-product h3 {
    font-size: 14px;
    margin: 20px 0 12px;
}

.woocommerce #tab-description > h4,.woocommerce #tab-additional_information > h4,.woocommerce .related.products > h4,.woocommerce .upsells.products > h4 {
    margin: 0 0 20px;
}

.woocommerce .type-product .star-rating,.woocommerce .type-product .price,.woocommerce .upsells.products .type-product .price,.woocommerce .related.products .type-product .price,.woocommerce .type-product h3 {
    padding: 0 10px;
    text-align: center;
}

.single-product .type-product .summary .price {
    text-align: left;
    font-weight: 700;
    padding: 0;
}

.woocommerce .type-product .add_to_cart_button {
    margin: 0 auto;
}

.woocommerce-message,.woocommerce-error,.woocommerce-info {
    position: relative;
    background: 0;
    list-style: none outside;
    width: auto;
    margin: 0 0 2em;
    padding: 10px 40px 0 50px;
    clear: both;
}

.woocommerce-message:before,.woocommerce-error:before,.woocommerce-info:before {
    content: "";
	width: 20px;
	display: block;
	position: absolute;
	top: 0;
	left: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	padding-top: 10px;
}

.woocommerce-message li,.woocommerce-error li,.woocommerce-info li {
    list-style: none outside;
    padding-left: 0;
    margin-left: 0;
}

.woocommerce-message {
    border-top: 3px solid #8fae1b;
}

.woocommerce-message:before {
    background-color: #8fae1b;
    content: "\2713";
}

.woocommerce-info {
    border-top: 4px solid #1e85be;
}

.woocommerce-info:before {
    background-color: #1e85be;
    content: "i";
    font-family: Times,Georgia,serif;
    font-style: italic;
}

.woocommerce-error {
    border-top: 3px solid #E74C3C;
}

.woocommerce-error:before {
    background-color: #E74C3C;
    content: "\00d7";
    font-weight: 700;
}

p.demo_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    background: 0;
    border: 1px solid #444;
    color: #FFF;
    z-index: 99998;
    margin: 0;
    padding: .5em 0;
    background: #333;
    opacity: 0.5;
}

.admin-bar p.demo_store {
    top: 28px;
}

.woocommerce small.note,.woocommerce-page small.note {
    display: block;
    color: #777;
    font-size: 11px;
    line-height: 21px;
    margin-top: 10px;
}

.woocommerce .woocommerce-breadcrumb,.woocommerce-page .woocommerce-breadcrumb {
    font-size: .92em;
    color: #777;
    margin: 0 0 1em;
    padding: 0;
}

.woocommerce .woocommerce-breadcrumb a,.woocommerce-page .woocommerce-breadcrumb a {
    color: #777;
}

.woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}

.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}

.woocommerce div.product,.woocommerce-page div.product,.woocommerce #content div.product,.woocommerce-page #content div.product {
    margin-bottom: 0;
    position: relative;
}

.woocommerce div.product .product_title,.woocommerce-page div.product .product_title,.woocommerce #content div.product .product_title,.woocommerce-page #content div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
    display: inline-block;
    line-height: 32px;
}

.woocommerce div.product span.price,.woocommerce-page div.product span.price,.woocommerce #content div.product span.price,.woocommerce-page #content div.product span.price,.woocommerce div.product p.price,.woocommerce-page div.product p.price,.woocommerce #content div.product p.price,.woocommerce-page #content div.product p.price {
    color: #27AE60;
    font-size: 1.2em;
    margin: 0 0 20px;
}

.woocommerce-page #content div.product p.price {
    font-size: 3em !important;
}

.woocommerce div.product span.price ins,.woocommerce-page div.product span.price ins,.woocommerce #content div.product span.price ins,.woocommerce-page #content div.product span.price ins,.woocommerce div.product p.price ins,.woocommerce-page div.product p.price ins,.woocommerce #content div.product p.price ins,.woocommerce-page #content div.product p.price ins {
    background: inherit;
}

.woocommerce div.product span.price del,.woocommerce-page div.product span.price del,.woocommerce #content div.product span.price del,.woocommerce-page #content div.product span.price del,.woocommerce div.product p.price del,.woocommerce-page div.product p.price del,.woocommerce #content div.product p.price del,.woocommerce-page #content div.product p.price del {
    color: #BDC3C7;
}

.woocommerce div.product p.stock,.woocommerce-page div.product p.stock,.woocommerce #content div.product p.stock,.woocommerce-page #content div.product p.stock {
}

.woocommerce div.product .out-of-stock,.woocommerce-page div.product .out-of-stock,.woocommerce #content div.product .out-of-stock,.woocommerce-page #content div.product .out-of-stock {
    color: red;
}

.woocommerce div.product div.images,.woocommerce-page div.product div.images,.woocommerce #content div.product div.images,.woocommerce-page #content div.product div.images {
	float: left;
	width: 48%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.woocommerce div.product div.images img,.woocommerce-page div.product div.images img,.woocommerce #content div.product div.images img,.woocommerce-page #content div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
	border: 1px solid #BDC3C7;
	padding: 2px;
}

.woocommerce div.product div.images div.thumbnails,.woocommerce-page div.product div.images div.thumbnails,.woocommerce #content div.product div.images div.thumbnails,.woocommerce-page #content div.product div.images div.thumbnails {
    padding: 0;
	padding-bottom: 6px;
}

.woocommerce div.product div.images div.thumbnails a,
.woocommerce-page div.product div.images div.thumbnails a,
.woocommerce #content div.product div.images div.thumbnails a,
.woocommerce-page #content div.product div.images div.thumbnails a {
    float: left;
    width: 23.24%;
    margin-right: 1px;
    margin-top: 6px;
    margin-left: 6px;
}

.woocommerce div.product div.images div.thumbnails a:first-child,
.woocommerce-page div.product div.images div.thumbnails a:first-child,
.woocommerce #content div.product div.images div.thumbnails a:first-child,
.woocommerce-page #content div.product div.images div.thumbnails a:first-child {
	margin-left: 0;
}

.woocommerce div.product div.summary,.woocommerce-page div.product div.summary,.woocommerce #content div.product div.summary,.woocommerce-page #content div.product div.summary {
    float: right;
    width: 49%;
    margin-bottom: 2em;
}

.woocommerce div.product div.social,.woocommerce-page div.product div.social,.woocommerce #content div.product div.social,.woocommerce-page #content div.product div.social {
    text-align: right;
    margin: 0 0 1em;
}

.woocommerce div.product div.social span,.woocommerce-page div.product div.social span,.woocommerce #content div.product div.social span,.woocommerce-page #content div.product div.social span {
    margin: 0 0 0 2px;
}

.woocommerce div.product div.social span .stButton .chicklets,.woocommerce-page div.product div.social span .stButton .chicklets,.woocommerce #content div.product div.social span .stButton .chicklets,.woocommerce-page #content div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0;
}

.woocommerce div.product div.social iframe,.woocommerce-page div.product div.social iframe,.woocommerce #content div.product div.social iframe,.woocommerce-page #content div.product div.social iframe {
    float: left;
    margin-top: 3px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,.woocommerce-page div.product .woocommerce-tabs ul.tabs,.woocommerce #content div.product .woocommerce-tabs ul.tabs,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: right;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #BDC3C7;
    background: 0;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    color: #BDC3C7;
    text-decoration: none;
    padding: 10px 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff;
    z-index: 2;
    border-bottom-color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after {
}

.woocommerce .woocommerce-ordering .orderby {
    margin: 20px 0;
    max-width: 100%;
    width: 210px;
    display: block;
    clear: left;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #BDC3C7;
    z-index: 1;
}

.woocommerce div.product .woocommerce-tabs .panel,.woocommerce-page div.product .woocommerce-tabs .panel,.woocommerce #content div.product .woocommerce-tabs .panel,.woocommerce-page #content div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0;
}

.woocommerce div.product form.cart div.quantity,.woocommerce-page div.product form.cart div.quantity,.woocommerce #content div.product form.cart div.quantity,.woocommerce-page #content div.product form.cart div.quantity {
    float: left;
    margin: 2px 10px 0 0;
}

.woocommerce div.product form.cart table,.woocommerce-page div.product form.cart table,.woocommerce #content div.product form.cart table,.woocommerce-page #content div.product form.cart table {
    border-width: 0 0 1px;
}

.woocommerce .shop_table.cart thead tr,.woocommerce .shop_table.cart tr.cart_table_item {
    border-bottom: 1px solid #BDC3C7;
}

.woocommerce div.product form.cart table td,
.woocommerce-page div.product form.cart table td,
.woocommerce #content div.product form.cart table td,
.woocommerce-page #content div.product form.cart table td {
    padding: 5px 0;
    border: none;
    border-right: 0;
    background: 0;
    border-left: 0;
}

.woocommerce div.product form.cart table td label,
.woocommerce-page div.product form.cart table td label,
.woocommerce #content div.product form.cart table td label,
.woocommerce-page #content div.product form.cart table td label{
	color: #444;
	padding-top: 14px;
}

.woocommerce div.product form.cart table div.quantity,.woocommerce-page div.product form.cart table div.quantity,.woocommerce #content div.product form.cart table div.quantity,.woocommerce-page #content div.product form.cart table div.quantity {
    float: none;
    margin: 0;
}

.woocommerce div.product form.cart table small.stock,.woocommerce-page div.product form.cart table small.stock,.woocommerce #content div.product form.cart table small.stock,.woocommerce-page #content div.product form.cart table small.stock {
    display: block;
    float: none;
}

.woocommerce div.product form.cart .variations select,.woocommerce-page div.product form.cart .variations select,.woocommerce #content div.product form.cart .variations select,.woocommerce-page #content div.product form.cart .variations select {
    width: 100%;
    float: left;
    height: 32px;
    margin-bottom: 10px;
}

.woocommerce div.product form.cart .variations td.label,.woocommerce-page div.product form.cart .variations td.label,.woocommerce #content div.product form.cart .variations td.label,.woocommerce-page #content div.product form.cart .variations td.label {
    padding-right: 1em;
}


.woocommerce div.product form.cart .group_table td.label,.woocommerce-page div.product form.cart .group_table td.label,.woocommerce #content div.product form.cart .group_table td.label,.woocommerce-page #content div.product form.cart .group_table td.label {
    padding-right: 1em;
    padding-left: 1em;
}

.woocommerce span.onsale,.woocommerce-page span.onsale {
	min-height: 32px;
	min-width: 42px;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	text-align: center;
	line-height: 32px;
	top: 0px;
	left: 0px;
	color: #FFF;
	margin: 0;
	background: #16A085;
	padding: 4px 2px 4px 2px;
}

.woocommerce .products ul,.woocommerce-page .products ul,.woocommerce ul.products,.woocommerce-page ul.products {
	list-style: none outside;
	clear: both;
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
}

.woocommerce .products ul li,.woocommerce-page .products ul li,.woocommerce ul.products li,.woocommerce-page ul.products li {
    list-style: none outside;
}

.woocommerce .related ul.products li.product img,.woocommerce-page .related ul.products li.product img,.woocommerce .upsells.products ul.products li.product img,.woocommerce-page .upsells.products ul.products li.product img,.woocommerce .related ul li.product img,.woocommerce-page .related ul li.product img,.woocommerce .upsells.products ul li.product img,.woocommerce-page .upsells.products ul li.product img {
    width: 100%;
    height: auto;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product {
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
	height: 320px;
    text-align: center;
	margin-left: 0;
}

.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale {
	top: 0;
	right: 0;
	left: auto;
	background: #1ABC9C;
	margin: 0px 15px 0 0;
	font-weight: 400;
	padding: 6px 12px;
}

.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product h3 {
    line-height: 160%;
    font-weight: 700;
}

.woocommerce ul.products li.product a,.woocommerce-page ul.products li.product a {
    text-decoration: none;
}

.woocommerce ul.products li.product a img,.woocommerce-page ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
	padding: 2px;
	border: 1px solid #ECF0F1;
}

.woocommerce ul.products li.product a img:hover,
.woocommerce-page ul.products li.product a img:hover{
	border-color: #BDC3C7;
}

.woocommerce ul.products li.product a:hover img,.woocommerce-page ul.products li.product a:hover img {
}

.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price {
	display: block;
	margin-bottom: 10px;
	color: #2ECC71;
	font-size: 18px;
	font-weight: 700;
}

.woocommerce ul.products li.product .price del,.woocommerce-page ul.products li.product .price del {
	font-size: 90%;
	color: #95A5A6;
}

.woocommerce ul.products li.product .price .from,.woocommerce-page ul.products li.product .price .from {
    font-size: .67em;
    text-transform: uppercase;
    color: rgba(145,145,145,0.5);
    margin: -2px 0 0;
}

.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count {
    float: left;
    display: inline-block;
    margin-top: 26px;
}

.woocommerce.archive .page-title {
	border-bottom: 1px solid #ECF0F1;
	padding-bottom: 20px;
}

.woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering {
    float: right;
	display: inline-block;
	width: 200px;
}

.woocommerce nav.woocommerce-pagination,.woocommerce-page nav.woocommerce-pagination,.woocommerce #content nav.woocommerce-pagination,.woocommerce-page #content nav.woocommerce-pagination {
    text-align: center;
}

.woocommerce nav.woocommerce-pagination ul,.woocommerce-page nav.woocommerce-pagination ul,.woocommerce #content nav.woocommerce-pagination ul,.woocommerce-page #content nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    clear: both;
}

.woocommerce .woocommerce-pagination ul.page-numbers {
    position: relative;
}

.woocommerce .woocommerce-pagination li {
    margin: 0;
    list-style: none;
}

.woocommerce .woocommerce-pagination li a.page-numbers {
    color: #ECF0F1;
}

.woocommerce .woocommerce-pagination li a.page-numbers,.woocommerce .woocommerce-pagination li span.page-numbers.current {
}

.woocommerce .woocommerce-pagination li a.page-numbers:hover,.woocommerce .woocommerce-pagination li span.page-numbers.current:hover {
    background: #16A085;
}

.woocommerce .woocommerce-pagination li span.page-numbers.current {
}

.woocommerce nav.woocommerce-pagination ul li,.woocommerce-page nav.woocommerce-pagination ul li,.woocommerce #content nav.woocommerce-pagination ul li,.woocommerce-page #content nav.woocommerce-pagination ul li {
    float: left;
    overflow: hidden;
    padding: 0;
}

.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
}

.woocommerce .shipping-calculator-button,.woocommerce a.button,.woocommerce-page a.button,.woocommerce button.button,.woocommerce-page button.button,.woocommerce input.button,.woocommerce-page input.button,.woocommerce #respond input#submit,.woocommerce-page #respond input#submit,.woocommerce #content input.button,.woocommerce-page #content input.button {

}

.woocommerce .shipping-calculator-button {
    font-size: 14px;
    line-height: 160%;
}

.woocommerce a.button.loading,.woocommerce-page a.button.loading,.woocommerce button.button.loading,.woocommerce-page button.button.loading,.woocommerce input.button.loading,.woocommerce-page input.button.loading,.woocommerce #respond input#submit.loading,.woocommerce-page #respond input#submit.loading,.woocommerce #content input.button.loading,.woocommerce-page #content input.button.loading {
  
}

.woocommerce a.button.loading:before,.woocommerce-page a.button.loading:before,.woocommerce button.button.loading:before,.woocommerce-page button.button.loading:before,.woocommerce input.button.loading:before,.woocommerce-page input.button.loading:before,.woocommerce #respond input#submit.loading:before,.woocommerce-page #respond input#submit.loading:before,.woocommerce #content input.button.loading:before,.woocommerce-page #content input.button.loading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
}



.woocommerce a.button:hover,.woocommerce-page a.button:hover,.woocommerce button.button:hover,.woocommerce-page button.button:hover,.woocommerce input.button:hover,.woocommerce-page input.button:hover,.woocommerce #respond input#submit:hover,.woocommerce-page #respond input#submit:hover,.woocommerce #content input.button:hover,.woocommerce-page #content input.button:hover {
  
    text-decoration: none;
}

.woocommerce a.button:active,.woocommerce-page a.button:active,.woocommerce button.button:active,.woocommerce-page button.button:active,.woocommerce input.button:active,.woocommerce-page input.button:active,.woocommerce #respond input#submit:active,.woocommerce-page #respond input#submit:active,.woocommerce #content input.button:active,.woocommerce-page #content input.button:active {
    top: 1px;
}

.woocommerce a.button.alt,.woocommerce-page a.button.alt,.woocommerce button.button.alt,.woocommerce-page button.button.alt,.woocommerce input.button.alt,.woocommerce-page input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce-page #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page #content input.button.alt {
    color: #fff;
}

.woocommerce a.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page #content input.button.alt:hover {
    color: #FFF;
}

.woocommerce .product_title.entry-title {
    font-size: 24px;
}

.woocommerce a.added_to_cart,.woocommerce-page a.added_to_cart {
    padding-top: .5em;
    white-space: nowrap;
    display: inline-block;
}

.woocommerce .cart-subtotal .amount,
.woocommerce table.shop_table.cart td,
.woocommerce .cart_totals  .shipping td,
.woocommerce .cart_totals  .total td,
.woocommerce .product-subtotal{ 
	color: #34495E; font-weight: 700; font-size: 14px;
}

.woocommerce .checkout .cart-subtotal .amount{
	color: #fff;
}
.woocommerce .quantity,.woocommerce-page .quantity,.woocommerce #content .quantity,.woocommerce-page #content .quantity {
    width: 60px;
    position: relative;
    overflow: hidden;
}

.woocommerce .quantity input.qty,.woocommerce-page .quantity input.qty,.woocommerce #content .quantity input.qty,.woocommerce-page #content .quantity input.qty {
    width: 40px;
    height: 28px;
    float: left;
    text-align: center;
    border: 1px solid #c8bfc6;
    border-right: 0;
    font-weight: 700;
    padding: 0;
}

.woocommerce .quantity noindex:-o-prefocus,.woocommerce-page .quantity noindex:-o-prefocus,.woocommerce #content .quantity noindex:-o-prefocus,.woocommerce-page #content .quantity noindex:-o-prefocus,.woocommerce .quantity input[type=number],.woocommerce-page .quantity input[type=number],.woocommerce #content .quantity input[type=number],.woocommerce-page #content .quantity input[type=number] {
    padding-right: 1.2em;
}

.woocommerce .quantity .plus,.woocommerce-page .quantity .plus,.woocommerce #content .quantity .plus,.woocommerce-page #content .quantity .plus,.woocommerce .quantity .minus,.woocommerce-page .quantity .minus,.woocommerce #content .quantity .minus,.woocommerce-page #content .quantity .minus {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: top;
	width: 20px;
	height: 14px;
	overflow: visible;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
	line-height: 2px;
	font-size: 12px;
	color: #7F8C8D;
	border: 1px solid #C8BFC6;
	background: #fff!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	margin: 0;
	padding: 0;
	text-shadow: none;
	border-radius: 0;
}

.woocommerce .quantity .plus,.woocommerce-page .quantity .plus,.woocommerce #content .quantity .plus,.woocommerce-page #content .quantity .plus {
    top: 0;
    right: 0;
    border-bottom: 0;
}

.woocommerce .quantity .minus,.woocommerce-page .quantity .minus,.woocommerce #content .quantity .minus,.woocommerce-page #content .quantity .minus {
    bottom: 0;
    right: 0;
	
}

.woocommerce input.plus,
.woocommerce input.minus{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.woocommerce input.plus:active,
.woocommerce input.minus:active{
	top: auto;
}
.woocommerce #reviews h2 small,.woocommerce-page #reviews h2 small {
    float: right;
    color: #777;
    font-size: 15px;
    line-height: 21px;
    margin: 10px 0 0;
}

.woocommerce #reviews #respond,.woocommerce-page #reviews #respond {
    border: 0;
    margin: 0;
    padding: 0;
}

.woocommerce #reviews #comment,.woocommerce-page #reviews #comment {
    height: 75px;
}

.woocommerce #reviews #comments h2,.woocommerce-page #reviews #comments h2 {
    font-size: 20px;
    padding: 0;
}

.woocommerce #reviews #comments div[itemprop=aggregateRating] h2,.woocommerce-page #reviews #comments div[itemprop=aggregateRating] h2 {
    clear: none;
    padding: 20px 0 0;
}

.woocommerce #comments div[itemprop=aggregateRating] {
    margin: 20px 0;
    border-bottom: 5px solid #BDC3C7;
}

.woocommerce #comments div[itemprop=aggregateRating] .star-rating {
    margin-top: 26px;
}

.woocommerce #reviews #comments ol.commentlist,.woocommerce-page #reviews #comments ol.commentlist {
    width: 100%;
    background: 0;
    list-style: none;
    margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li,.woocommerce-page #reviews #comments ol.commentlist li {
    position: relative;
    background: 0;
    border: 0;
    margin: 0 0 20px;
    padding: 00;
}

.woocommerce #reviews #comments ol.commentlist li .meta,.woocommerce-page #reviews #comments ol.commentlist li .meta {
    color: #777;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar,.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 12px;
    left: 0;
    width: 32px;
    height: auto;
    background: #f7f6f7;
    border: 1px solid #f0eef0;
    line-height: 1;
    margin: 0;
    padding: 3px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
}

.woocommerce #reviews #comments .commentlist>li:before,.woocommerce-page #reviews #comments .commentlist>li:before {
    content: "";
}

.woocommerce .star-rating,.woocommerce-page .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}

.woocommerce .star-rating:before,.woocommerce-page .star-rating:before {
    content: "\73\73\73\73\73";
    color: #BDC3C7;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.woocommerce .star-rating span,.woocommerce-page .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
	color: #F39C12;
}

.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
}

.woocommerce .products .star-rating,.woocommerce-page .products .star-rating {
    display: inline-block;
    float: none;
    margin: 0px 0px 10px 0px;
}

.woocommerce .hreview-aggregate .star-rating,.woocommerce-page .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}

.woocommerce #review_form #respond,.woocommerce-page #review_form #respond {
    position: static;
    width: auto;
    background: transparent none;
    border: 0;
    margin: 0;
    padding: 0;
}

.woocommerce #review_form #respond p,.woocommerce-page #review_form #respond p {
    margin: 0 0 10px;
}

.woocommerce #review_form #respond .form-submit input,.woocommerce-page #review_form #respond .form-submit input {
    left: auto;
}

.woocommerce #review_form #respond textarea,.woocommerce-page #review_form #respond textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.woocommerce p.stars span,.woocommerce-page p.stars span {
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url(../images/star.png) repeat-x left 0;
}

.woocommerce p.stars span a,.woocommerce-page p.stars span a {
    padding-top: 16px;
    position: absolute;
    float: left;
    overflow: hidden;
    height: 0;
    left: 0;
    padding-top: 16px;
    top: 0;
}

.woocommerce p.stars span a:hover,.woocommerce-page p.stars span a:hover,.woocommerce p.stars span a:focus,.woocommerce-page p.stars span a:focus {
    background: url(../images/star.png) repeat-x left -16px;
}

.woocommerce p.stars span a.active,.woocommerce-page p.stars span a.active {
    background: url(../images/star.png) repeat-x left -32px;
}

.woocommerce p.stars span a.star-1,.woocommerce-page p.stars span a.star-1 {
    width: 16px;
    z-index: 10;
}

.woocommerce p.stars span a.star-2,.woocommerce-page p.stars span a.star-2 {
    width: 32px;
    z-index: 9;
}

.woocommerce p.stars span a.star-3,.woocommerce-page p.stars span a.star-3 {
    width: 48px;
    z-index: 8;
}

.woocommerce p.stars span a.star-4,.woocommerce-page p.stars span a.star-4 {
    width: 64px;
    z-index: 7;
}

.woocommerce p.stars span a.star-5,.woocommerce-page p.stars span a.star-5 {
    width: 80px;
    z-index: 6;
}

.woocommerce table.shop_attributes,.woocommerce-page table.shop_attributes {
    border: 0;
    margin-bottom: 1.618em;
    width: 100%;
}

.woocommerce table.shop_attributes th,.woocommerce-page table.shop_attributes th {
    width: 150px;
    font-weight: 700;    
    margin: 0;
    padding: 2px 8px;
}

.woocommerce table.shop_attributes td,.woocommerce-page table.shop_attributes td {
    font-style: italic;
    padding: 2px 8px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.woocommerce table.shop_attributes td p,.woocommerce-page table.shop_attributes td p {
    margin: 0;
}

.woocommerce table.shop_attributes td {
    padding: 10px;
}

.woocommerce table.shop_attributes .alt td,.woocommerce-page table.shop_attributes .alt td,.woocommerce table.shop_attributes .alt th,.woocommerce-page table.shop_attributes .alt th {
}

.woocommerce table.shop_table,.woocommerce-page table.shop_table {
    width: 100%;
}



.woocommerce table.shop_table td small,.woocommerce-page table.shop_table td small {
    font-weight: 400;
}

.woocommerce table.shop_table tfoot td,.woocommerce-page table.shop_table tfoot td,.woocommerce table.shop_table tfoot th,.woocommerce-page table.shop_table tfoot th {
    font-weight: normal;
}

.woocommerce table.my_account_orders,.woocommerce-page table.my_account_orders {
    font-size: .85em;
}

.woocommerce table.my_account_orders th,.woocommerce-page table.my_account_orders th,.woocommerce table.my_account_orders td,.woocommerce-page table.my_account_orders td {
    vertical-align: middle;
    padding: 4px 8px;
}

.woocommerce table.my_account_orders .order-actions .button,.woocommerce-page table.my_account_orders .order-actions .button {
    margin: .125em 0 .125em .25em;
}

.woocommerce td.product-name dl.variation,.woocommerce-page td.product-name dl.variation {
    font-size: .8751em;
    margin: .25em 0 .5em;
}

.woocommerce td.product-name dl.variation dt,.woocommerce-page td.product-name dl.variation dt {
    font-weight: normal;
    float: left;
    clear: left;
    margin: 0 .25em 0 0;
    padding: 0;
}

.woocommerce td.product-name dl.variation dd,.woocommerce-page td.product-name dl.variation dd {
    margin: 0 0 .25em;
}

.woocommerce td.product-quantity,.woocommerce-page td.product-quantity {
    min-width: 80px;
}

.woocommerce table.cart .product-thumbnail,.woocommerce-page table.cart .product-thumbnail,.woocommerce #content table.cart .product-thumbnail,.woocommerce-page #content table.cart .product-thumbnail {
    min-width: 32px;
}

.woocommerce table.cart img,.woocommerce-page table.cart img,.woocommerce #content table.cart img,.woocommerce-page #content table.cart img {
    width: 32px;
    height: auto;
}

.woocommerce table.cart th,.woocommerce-page table.cart th,.woocommerce #content table.cart th,.woocommerce-page #content table.cart th,.woocommerce table.cart td,.woocommerce-page table.cart td,.woocommerce #content table.cart td,.woocommerce-page #content table.cart td {
    vertical-align: middle;
    border: 0;
    background: 0;
    padding: 20px 0;
}

.woocommerce table.cart .product-remove {
    text-align: center;
}

.woocommerce table.cart .product-remove a {
    padding: 0;
    margin: 0;
    width: auto !important;
    display: inline-block !important;
}

.woocommerce table.cart a.remove,.woocommerce-page table.cart a.remove,.woocommerce #content table.cart a.remove,.woocommerce-page #content table.cart a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: red;
    text-decoration: none;
    font-weight: 700;
}

.woocommerce table.cart a.remove:hover,.woocommerce-page table.cart a.remove:hover,.woocommerce #content table.cart a.remove:hover,.woocommerce-page #content table.cart a.remove:hover {
    background-color: red;
    color: #fff;
}

.woocommerce table.cart td.actions .coupon .input-text,.woocommerce-page table.cart td.actions .coupon .input-text,.woocommerce #content table.cart td.actions .coupon .input-text,.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 80px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #BDC3C7;
	outline: 0;
	margin: 0 15px 0 0;
	padding: 6px 6px 6px;
}

div.pp_woocommerce .pp_content_container {
	background: #FFF;
	padding: 60px 0 40px 0;
	border: 1px solid #BDC3C7;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}


.woocommerce table.cart input,.woocommerce-page table.cart input,.woocommerce #content table.cart input,.woocommerce-page #content table.cart input {
    vertical-align: middle;
    margin: 0;
}

.woocommerce ul.cart_list,.woocommerce-page ul.cart_list,.woocommerce ul.product_list_widget,.woocommerce-page ul.product_list_widget {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.woocommerce ul.cart_list li,.woocommerce-page ul.cart_list li,.woocommerce ul.product_list_widget li,.woocommerce-page ul.product_list_widget li {
    list-style: none;
    margin: 20px 0;
}

.woocommerce ul.cart_list li:first-child,.woocommerce-page ul.cart_list li:first-child,.woocommerce ul.product_list_widget li:first-child,.woocommerce-page ul.product_list_widget li:first-child,.woocommerce-page ul.product_list_widget li:first-child {
    margin-top: 0;
}

.woocommerce-page ul.product_list_widget li:first-child li:last-child,.woocommerce-page ul.product_list_widget li:last-child {
    margin-bottom: 0;
}

.woocommerce ul.cart_list li a,.woocommerce-page ul.cart_list li a,.woocommerce ul.product_list_widget li a,.woocommerce-page ul.product_list_widget li a {
    display: block;
	font-weight: 700;
	font-size: 14px;
}

.woocommerce ul.cart_list li img,.woocommerce-page ul.cart_list li img,.woocommerce ul.product_list_widget li img,.woocommerce-page ul.product_list_widget li img {
    float: left;
    margin-right: 20px;
    width: 48px;
    height: auto;
    border-radius: 50px;
    height: 48px;
}

.widget_product_search .screen-reader-text {
    color: #ECF0F1;
    margin-bottom: 4px;
    margin-left: 1px;
}

.woocommerce .widget_product_search input[type=text] {
    margin-bottom: 10px;
}

.woocommerce .widget_product_search #searchsubmit {
    margin: 0;
}

.woocommerce ul.cart_list li dl,.woocommerce-page ul.cart_list li dl,.woocommerce ul.product_list_widget li dl,.woocommerce-page ul.product_list_widget li dl {
    font-size: 12px;
    padding-left: 10px;
    border-left: 1px solid #16A085;
    margin: 0 0 0 15px;
}

.woocommerce ul.cart_list li dl dt,.woocommerce-page ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dt,.woocommerce-page ul.product_list_widget li dl dt {
    clear: both;
}

.woocommerce ul.cart_list li dl dd,.woocommerce-page ul.cart_list li dl dd,.woocommerce ul.product_list_widget li dl dd,.woocommerce-page ul.product_list_widget li dl dd {
    margin-bottom: .5em;
    margin-left: 16px;
}

.woocommerce .widget_shopping_cart .total,.woocommerce-page .widget_shopping_cart .total {
    border-top: 1px solid #16A085;
    padding: 15px 0 0;
    margin: 20px 0;
}

.woocommerce .widget_shopping_cart .total strong,.woocommerce-page .widget_shopping_cart .total strong {
    min-width: 40px;
    display: inline-block;
}

.woocommerce .cart-collaterals .related,.woocommerce-page .cart-collaterals .related {
    width: 30.75%;
    float: left;
}

.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 38%;
    margin: 20px 0 0;
    float: right;
	clear: right;
}

.woocommerce .cart-collaterals .shipping_calculator .button,.woocommerce-page .cart-collaterals .shipping_calculator .button {
    float: none;
    display: block;
}

.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
}

.woocommerce .cart-collaterals .cross-sells h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 38%;
}

.woocommerce .cart-collaterals .cart_totals h2,.woocommerce-page .cart-collaterals .cart_totals h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.woocommerce .cart-collaterals .cart_totals p small,.woocommerce-page .cart-collaterals .cart_totals p small {
    color: #777;
    font-size: .83em;
}

.woocommerce .cart-collaterals .cart_totals table tr:first-child th,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child th,.woocommerce .cart-collaterals .cart_totals table tr:first-child td,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child td {
    border-top: 0;
}

.woocommerce .cart-collaterals .cart_totals table tr:first-child td,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child td,.woocommerce .cart-collaterals .cart_totals table tr:first-child th,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child th {
    padding-top: 0;
}

.woocommerce .cart-collaterals .cart_totals table td,.woocommerce-page .cart-collaterals .cart_totals table td,.woocommerce .cart-collaterals .cart_totals table th,.woocommerce-page .cart-collaterals .cart_totals table th {
    padding: 6px 3px;
}

.woocommerce .cart-collaterals .cart_totals table small,.woocommerce-page .cart-collaterals .cart_totals table small {
    display: block;
}

.woocommerce .cart-collaterals .cart_totals tr td,.woocommerce-page .cart-collaterals .cart_totals tr td,.woocommerce .cart-collaterals .cart_totals tr th,.woocommerce-page .cart-collaterals .cart_totals tr th {
    border: 0;
    padding: 10px 20px 10px 0;
    background: 0;
    border-bottom: 1px solid #BDC3C7;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt,.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
    width: 193px;
    display: block;
    font-size: .92em;
}

.woocommerce form .form-row,.woocommerce-page form .form-row {
    margin: 10px 0;
}

.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder,.woocommerce-page form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .5s .5s ease;
    -moz-transition: opacity .5s .5s ease;
    transition: opacity .5s .5s ease;
    opacity: 0;
}

.woocommerce form .form-row label.hidden,.woocommerce-page form .form-row label.hidden {
    visibility: hidden;
}

.woocommerce form .form-row select,.woocommerce-page form .form-row select {
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.woocommerce form .form-row .required,.woocommerce-page form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0;
}

.woocommerce form .form-row .input-checkbox,.woocommerce-page form .form-row .input-checkbox {
    display: inline;
    text-align: center;
    vertical-align: middle;
    margin: -2px 8px 0 0;
}

.woocommerce form .form-row label.checkbox,.woocommerce-page form .form-row label.checkbox {
    display: inline;
}

.woocommerce form .form-row input.input-text,.woocommerce-page form .form-row input.input-text,.woocommerce form .form-row textarea,.woocommerce-page form .form-row textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
	margin-bottom: 20px;
    outline: 0;
}

.woocommerce form .form-row textarea,.woocommerce-page form .form-row textarea {
    height: 3.5em;
    line-height: 1.5em;
    display: block;
}

.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
    background-image: url(../images/icons/valid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}

.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
    background-image: url(../images/icons/invalid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}

.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-single,.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-single,.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-drop,.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-drop,.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce form .form-row.validate-required.woocommerce-invalid select,.woocommerce-page form .form-row.validate-required.woocommerce-invalid select {
    border-color: #fb7f88;
}

.woocommerce form .form-row-first,.woocommerce-page form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}

.woocommerce form.login,.woocommerce-page form.login,.woocommerce form.checkout_coupon,.woocommerce-page form.checkout_coupon,.woocommerce form.register,.woocommerce-page form.register {
    border: 1px solid #BDC3C7;
    text-align: left;
    margin: 20px 0;
    padding: 20px;
}

.woocommerce form.login .lost_password {
    display: inline-block;
    margin: 20px 0 0;
}

.woocommerce ul#shipping_method,.woocommerce-page ul#shipping_method {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.woocommerce ul#shipping_method li,.woocommerce-page ul#shipping_method li {
    text-indent: -22px;
    list-style: none outside;
    margin: 0;
    padding: .25em 0 .25em 22px;
}

.woocommerce .checkout .col-2 h3,.woocommerce-page .checkout .col-2 h3 {
    float: left;
    clear: none;
}

.woocommerce .checkout div.shipping-address,.woocommerce-page .checkout div.shipping-address {
    clear: left;
    width: 100%;
    padding: 0;
}

.woocommerce .checkout #shiptobilling,.woocommerce-page .checkout #shiptobilling {
    margin: -2px 0px 20px;
    padding: 0;
}

.woocommerce .checkout #shiptobilling label,.woocommerce-page .checkout #shiptobilling label {
	padding-left: 0;
	margin-top: -4px;
	display: inline-block;
	margin-bottom: 0;
}


.woocommerce #payment ul.payment_methods,.woocommerce-page #payment ul.payment_methods {
    text-align: left;
    border-bottom: 1px solid #BDC3C7;
    list-style: none outside;
    margin: 0;
    padding: 1em;
}

.woocommerce #payment ul.payment_methods li,.woocommerce-page #payment ul.payment_methods li {
    line-height: 2em;
    font-weight: 400;
    margin: 0;
    display: block;
    width: 100%;
    clear: both;
}

.woocommerce #payment ul.payment_methods li input,.woocommerce-page #payment ul.payment_methods li input {
	display: inline-block;
    float: left;
    margin: 6px 10px 0 0;
}

.woocommerce #payment ul.payment_methods li img,.woocommerce-page #payment ul.payment_methods li img {
    vertical-align: middle;
    position: relative;
    margin: -2px 0 0 .5em;
}

.woocommerce #payment div.form-row,.woocommerce-page #payment div.form-row{
    padding: 1em 0;
}

.woocommerce #payment #place_order,.woocommerce-page #payment #place_order {
    float: right;
    margin: 0;
}

.woocommerce #payment .terms,.woocommerce-page #payment .terms {
    text-align: right;
    padding: 0 1em;
}

.woocommerce #payment div.payment_box,.woocommerce-page #payment div.payment_box {
	display: inline-block;
    margin: -10px 10px 10px 24px;
    max-width: 450px;
    width: auto;
}

.woocommerce #payment div.payment_box span.help,.woocommerce-page #payment div.payment_box span.help {
    font-size: 11px;
    color: #777;
    line-height: 13px;
    font-weight: 400;
}

.woocommerce #payment div.payment_box .form-row select,.woocommerce-page #payment div.payment_box .form-row select {
    width: 48%;
    float: left;
    margin-right: 3.8%;
}



.woocommerce .order_details,.woocommerce-page .order_details {
    list-style: none;
    margin: 0 0 1.5em;
}

.woocommerce .order_details li,.woocommerce-page .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1em;
    border-right: 1px dashed #BDC3C7;
    padding-right: 2em;
}

.woocommerce .order_details li strong,.woocommerce-page .order_details li strong {
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5em;
}

.woocommerce .order_details li:last-of-type,.woocommerce-page .order_details li:last-of-type {
    border: 0;
}

.woocommerce ol.commentlist.notes li.note p.meta,.woocommerce-page ol.commentlist.notes li.note p.meta {
    font-weight: 700;
    margin-bottom: 0;
}

.woocommerce ul.digital-downloads,.woocommerce-page ul.digital-downloads {
    margin-left: 0;
    padding-left: 0;
}

.woocommerce ul.digital-downloads li,.woocommerce-page ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}

.woocommerce .widget_layered_nav ul,.woocommerce-page .widget_layered_nav ul {
    border: 0;
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.woocommerce .widget_layered_nav ul li,.woocommerce-page .widget_layered_nav ul li {
    list-style: none;
    background: #16A085;
}

.woocommerce .widget_layered_nav ul li a,.woocommerce-page .widget_layered_nav ul li a,.woocommerce .widget_layered_nav ul li span,.woocommerce-page .widget_layered_nav ul li span {
    float: left;
    padding: 5px 10px;
}

.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav ul li.chosen a {
    background: #9B59B6 url(../images/cross_white.png) no-repeat 8px center;
    color: #ECF0F1;
    padding: 5px 8px 5px 20px;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count {
    float: right;
    padding: 5px 10px;
    background: #444;
}

.woocommerce .widget_layered_nav_filters ul,.woocommerce-page .widget_layered_nav_filters ul {
    border: 0;
    list-style: none outside;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.woocommerce .widget_layered_nav_filters ul li,.woocommerce-page .widget_layered_nav_filters ul li {
    float: left;
    list-style: none;
    padding: 0 1px 1px 0;
    margin-bottom: 0;
}

.woocommerce .widget_layered_nav_filters ul li a,.woocommerce-page .widget_layered_nav_filters ul li a {
    background: #9B59B6;
    color: #ECF0F1;
    float: left;
    padding: 5px 10px;
    border-radius: 0;
}

.woocommerce .widget_price_filter .price_slider_amount,.woocommerce-page .widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: .8751em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce-page .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
    float: left;
}

.woocommerce .widget_price_filter .ui-slider,.woocommerce-page .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border: 1px solid #16A085;
    cursor: pointer;
    background: 0;
    background: #16A085;
    outline: 0;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    top: -.4em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #ECF0F1;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #BDC3C7;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal,.woocommerce-page .widget_price_filter .ui-slider-horizontal {
    height: 10px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

.twentythirteen .entry-summary {
    padding: 0;
}


.nobr,.woocommerce table.my_account_orders .button,.woocommerce-page table.my_account_orders .button {
    white-space: nowrap;
}

.woocommerce-message:after,.woocommerce-error:after,.woocommerce-info:after,.woocommerce .woocommerce-breadcrumb:after,.woocommerce-page .woocommerce-breadcrumb:after,.woocommerce .col2-set:after,.woocommerce-page .col2-set:after,.woocommerce div.product div.images div.thumbnails:after,.woocommerce-page div.product div.images div.thumbnails:after,.woocommerce #content div.product div.images div.thumbnails:after,.woocommerce-page #content div.product div.images div.thumbnails:after,.woocommerce div.product p.cart:after,.woocommerce-page div.product p.cart:after,.woocommerce #content div.product p.cart:after,.woocommerce-page #content div.product p.cart:after,.woocommerce div.product form.cart:after,.woocommerce-page div.product form.cart:after,.woocommerce #content div.product form.cart:after,.woocommerce-page #content div.product form.cart:after,.woocommerce .products ul:after,.woocommerce-page .products ul:after,.woocommerce ul.products:after,.woocommerce-page ul.products:after,.woocommerce .related:after,.woocommerce-page .related:after,.woocommerce .upsells.products:after,.woocommerce-page .upsells.products:after,.woocommerce #reviews #comments .add_review:after,.woocommerce-page #reviews #comments .add_review:after,.woocommerce #reviews #comments ol.commentlist:after,.woocommerce-page #reviews #comments ol.commentlist:after,.woocommerce #review_form #respond:after,.woocommerce-page #review_form #respond:after,.woocommerce p.stars:after,.woocommerce-page p.stars:after,.woocommerce ul.cart_list li:after,.woocommerce-page ul.cart_list li:after,.woocommerce ul.product_list_widget li:after,.woocommerce-page ul.product_list_widget li:after,.woocommerce .widget_shopping_cart .buttons:after,.woocommerce-page .widget_shopping_cart .buttons:after,.woocommerce .cart-collaterals:after,.woocommerce-page .cart-collaterals:after,.woocommerce .cart-collaterals .shipping_calculator:after,.woocommerce-page .cart-collaterals .shipping_calculator:after,.woocommerce form .form-row:after,.woocommerce-page form .form-row:after,.woocommerce #payment ul.payment_methods:after,.woocommerce-page #payment ul.payment_methods:after,.woocommerce .order_details:after,.woocommerce-page .order_details:after,.woocommerce .addresses .title:after,.woocommerce-page .addresses .title:after,.woocommerce .widget_layered_nav ul li:after,.woocommerce-page .widget_layered_nav ul li:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce-message .button,.woocommerce-error .button,.woocommerce-info .button,.woocommerce form .form-row-last,.woocommerce-page form .form-row-last,.woocommerce #payment div.payment_box #cc-expire-year,.woocommerce-page #payment div.payment_box #cc-expire-year,.woocommerce .addresses .title .edit,.woocommerce-page .addresses .title .edit,.woocommerce ul.digital-downloads li .count,.woocommerce-page ul.digital-downloads li .count {
    float: right;
}

.woocommerce .col2-set,.woocommerce-page .col2-set,.woocommerce .cart-collaterals,.woocommerce-page .cart-collaterals,.woocommerce .cart-collaterals .cart_totals table select,.woocommerce-page .cart-collaterals .cart_totals table select {
    width: 100%;
}

.woocommerce div.product .stock,.woocommerce-page div.product .stock,.woocommerce #content div.product .stock,.woocommerce-page #content div.product .stock,.woocommerce .cart-collaterals .cart_totals .discount td,.woocommerce-page .cart-collaterals .cart_totals .discount td {
    color: #85ad74;
}

.woocommerce div.product div.images div.thumbnails a.last,.woocommerce-page div.product div.images div.thumbnails a.last,.woocommerce #content div.product div.images div.thumbnails a.last,.woocommerce-page #content div.product div.images div.thumbnails a.last,.woocommerce ul.products li.last,.woocommerce-page ul.products li.last,.woocommerce #payment div.payment_box .form-row select:nth-child(3n),.woocommerce-page #payment div.payment_box .form-row select:nth-child(3n) {
    margin-right: 0;
}

.woocommerce div.product div.social span span,.woocommerce-page div.product div.social span span,.woocommerce #content div.product div.social span span,.woocommerce-page #content div.product div.social span span,.woocommerce #reviews h3,.woocommerce-page #reviews h3,.woocommerce .cart-collaterals .cart_totals p,.woocommerce-page .cart-collaterals .cart_totals p {
    margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce #reviews h2 small a,.woocommerce-page #reviews h2 small a {
    text-decoration: none;
    color: #7F8C8D;
}

.woocommerce div.product p.cart,.woocommerce-page div.product p.cart,.woocommerce #content div.product p.cart,.woocommerce-page #content div.product p.cart,.woocommerce div.product form.cart,.woocommerce-page div.product form.cart,.woocommerce #content div.product form.cart,.woocommerce-page #content div.product form.cart {
    margin-bottom: 16px;
}

.woocommerce div.product form.cart .variations,.woocommerce-page div.product form.cart .variations,.woocommerce #content div.product form.cart .variations,.woocommerce-page #content div.product form.cart .variations,.woocommerce .widget_price_filter .price_slider,.woocommerce-page .widget_price_filter .price_slider {
    margin-bottom: 1em;
}

.woocommerce div.product form.cart .variations label,.woocommerce-page div.product form.cart .variations label,.woocommerce #content div.product form.cart .variations label,.woocommerce-page #content div.product form.cart .variations label,.woocommerce ul#shipping_method .amount,.woocommerce-page ul#shipping_method .amount {
    font-weight: 700;
}

.woocommerce div.product form.cart .variations td,.woocommerce-page div.product form.cart .variations td,.woocommerce #content div.product form.cart .variations td,.woocommerce-page #content div.product form.cart .variations td,.woocommerce div.product form.cart .group_table td,.woocommerce-page div.product form.cart .group_table td,.woocommerce #content div.product form.cart .group_table td,.woocommerce-page #content div.product form.cart .group_table td,.woocommerce .woocommerce-ordering select,.woocommerce-page .woocommerce-ordering select {
    vertical-align: top;
}

.woocommerce .related ul.products,.woocommerce-page .related ul.products,.woocommerce .upsells.products ul.products,.woocommerce-page .upsells.products ul.products,.woocommerce .related ul,.woocommerce-page .related ul,.woocommerce .upsells.products ul,.woocommerce-page .upsells.products ul,.woocommerce .cart .button,.woocommerce-page .cart .button,.woocommerce .cart input.button,.woocommerce-page .cart input.button,.woocommerce ul.cart_list li .star-rating,.woocommerce-page ul.cart_list li .star-rating,.woocommerce ul.product_list_widget li .star-rating,.woocommerce-page ul.product_list_widget li .star-rating,.woocommerce .cart-collaterals .cross-sells ul.products,.woocommerce-page .cart-collaterals .cross-sells ul.products {
    float: none;
}

.woocommerce .related ul.products li.product,.woocommerce-page .related ul.products li.product,.woocommerce .upsells.products ul.products li.product,.woocommerce-page .upsells.products ul.products li.product,.woocommerce .related ul li.product,.woocommerce-page .related ul li.product,.woocommerce .upsells.products ul li.product,.woocommerce-page .upsells.products ul li.product,.woocommerce .cart-collaterals .cross-sells ul.products li,.woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: auto;
	max-width: 220px;
}


.woocommerce .cart-collaterals .cross-sells ul.products li,.woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: auto;
}

.woocommerce ul.products li.product strong,.woocommerce-page ul.products li.product strong,.woocommerce form .form-row label,.woocommerce-page form .form-row label {
    display: block;
	margin: 10px 0;
	clear: both;
}

.woocommerce ul.products li.product .price ins,.woocommerce-page ul.products li.product .price ins,.woocommerce .quantity .plus:hover,.woocommerce-page .quantity .plus:hover,.woocommerce #content .quantity .plus:hover,.woocommerce-page #content .quantity .plus:hover,.woocommerce .quantity .minus:hover,.woocommerce-page .quantity .minus:hover,.woocommerce #content .quantity .minus:hover,.woocommerce-page #content .quantity .minus:hover {
    background: 0;
}

.woocommerce .quantity input::-webkit-outer-spin-button,.woocommerce-page .quantity input::-webkit-outer-spin-button,.woocommerce #content .quantity input::-webkit-outer-spin-button,.woocommerce-page #content .quantity input::-webkit-outer-spin-button,.woocommerce .quantity input::-webkit-inner-spin-button,.woocommerce-page .quantity input::-webkit-inner-spin-button,.woocommerce #content .quantity input::-webkit-inner-spin-button,.woocommerce-page #content .quantity input::-webkit-inner-spin-button,.woocommerce table.cart td.actions .coupon label,.woocommerce-page table.cart td.actions .coupon label,.woocommerce #content table.cart td.actions .coupon label,.woocommerce-page #content table.cart td.actions .coupon label {
    display: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p,.woocommerce-page #reviews #comments ol.commentlist li .comment-text p,.woocommerce #payment div.payment_box .form-row,.woocommerce-page #payment div.payment_box .form-row {
    margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta,.woocommerce td.product-name p.backorder_notification,.woocommerce-page td.product-name p.backorder_notification {
}

.woocommerce table.my_account_orders .order-actions,.woocommerce-page table.my_account_orders .order-actions,.woocommerce table.cart td.actions,.woocommerce-page table.cart td.actions,.woocommerce #content table.cart td.actions,.woocommerce-page #content table.cart td.actions {
    text-align: right;
}

.woocommerce table.cart td.actions .coupon,.woocommerce-page table.cart td.actions .coupon,.woocommerce #content table.cart td.actions .coupon,.woocommerce-page #content table.cart td.actions .coupon,.woocommerce .addresses .title h3,.woocommerce-page .addresses .title h3 {
    float: left;
}

.woocommerce .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .cross-sells,.woocommerce #payment div.payment_box #cc-expire-month,.woocommerce-page #payment div.payment_box #cc-expire-month,.woocommerce #payment div.payment_box #cc-expire-year,.woocommerce-page #payment div.payment_box #cc-expire-year {
    width: 60%;
    float: left;
}

.woocommerce form .form-row ::-webkit-input-placeholder,.woocommerce-page form .form-row ::-webkit-input-placeholder,.woocommerce form .form-row :-moz-placeholder,.woocommerce-page form .form-row :-moz-placeholder,.woocommerce form .form-row :-ms-input-placeholder,.woocommerce-page form .form-row :-ms-input-placeholder {
    line-height: 1em;
    padding-top: 2px;
}

.woocommerce .checkout .col-2 .notes,.woocommerce-page .checkout .col-2 .notes,.woocommerce .checkout .col-2 .form-row-first,.woocommerce-page .checkout .col-2 .form-row-first {
    clear: left;
}

.woocommerce #payment div.payment_box p:last-child,.woocommerce-page #payment div.payment_box p:last-child,.woocommerce ol.commentlist.notes li.note .description p:last-child,.woocommerce-page ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0;
}

@media (-webkit-min-device-pixel-ratio:2,min-resolution: 192dpi) {
    .woocommerce a.button.loading:before,.woocommerce-page a.button.loading:before,.woocommerce button.button.loading:before,.woocommerce-page button.button.loading:before,.woocommerce input.button.loading:before,.woocommerce-page input.button.loading:before,.woocommerce #respond input#submit.loading:before,.woocommerce-page #respond input#submit.loading:before,.woocommerce #content input.button.loading:before,.woocommerce-page #content input.button.loading:before {
        background-image: url(../images/ajax-loader@2x.gif);
        background-size: 16px 16px;
    }
    
    .woocommerce a.button.added:before,.woocommerce-page a.button.added:before,.woocommerce button.button.added:before,.woocommerce-page button.button.added:before,.woocommerce input.button.added:before,.woocommerce-page input.button.added:before,.woocommerce #respond input#submit.added:before,.woocommerce-page #respond input#submit.added:before,.woocommerce #content input.button.added:before,.woocommerce-page #content input.button.added:before {
        background: url(../images/success@2x.png) no-repeat;
        background-size: 16px 14px;
    }
    
    .woocommerce .woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page .woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
        background-image: url(../images/icons/valid@2x.png);
        background-size: 12px 9px;
    }
    
    .woocommerce .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
        background-image: url(../images/icons/invalid@2x.png);
        background-size: 12px 9px;
    }
    
    .woocommerce p.stars span,.woocommerce-page p.stars span,.woocommerce p.stars span a:hover,.woocommerce-page p.stars span a:hover,.woocommerce p.stars span a:focus,.woocommerce-page p.stars span a:focus,.woocommerce p.stars span a.active,.woocommerce-page p.stars span a.active {
        background-image: url(../images/star@2x.png);
        background-size: 16px 48px;
    }

}

/** == */
.woocommerce .woocommerce-tabs {
    border-bottom: 1px solid #BDC3C7;
    margin: 10px 0 20px;
    display: inline-block;
    width: 100%;
}

.woocommerce .widget_shopping_cart_content a.button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}

.woocommerce .widget_shopping_cart_content p.buttons .button.checkout,.woocommerce .widget_shopping_cart_content p.buttons {
    margin: 0;
}

.woocommerce .woocommerce-tabs h2 {
    margin-bottom: 20px;
}

.woocommerce .payment_methods li {
    float: left;
    margin: 6px 10px 10px;
    display: inline-block;
}

.woocommerce #calc_shipping_country{
	margin-bottom: 20px;
}

#order_review_heading,.woocommerce #customer_details h3 {
    font-size: 14px;
}

#order_review_heading {
    margin: 10px 0 20px;
}

#pp_full_res {
    display: inline-block;
    width: 85%;
}

/*.single-product .product_title.entry-title,.post-type-archive-product .entry-title {
    display: none !important;
}*/

.single-product .related.products{
	display: inline-block;
	clear: both;
	width: 100%;
	max-width: 520px;
}

.single-product .col-md-12 .site-content .product{
	max-width: 720px;
	margin: 20px auto;
}

.archive.woocommerce #tertiary,.archive.woocommerce #secondary {
    margin-top: 20px;
}

.woocommerce-page #content div.product p.price {
    font-size: 2.4em;
    margin: 10px 0 20px;
}

.woocommerce-checkout .form-row .chzn-container-single .chzn-single {
	height: 36px;
	background: #ECF0F1;
	line-height: 29px;
	border: 0;
	border: 1px solid #BDC3C7;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}


.woocommerce .products li.product-category{
	width: 30%;
	margin-left: 3%!important;
	float: left;
	margin-bottom: 20px!important;
	min-height: 250px!important;
}

.woocommerce .products li.product-category:first-child{
	margin-left: 2.3%!important;
}
.woocommerce .products li.product-category h3{
	font-size: 14px;
	margin-top: 20px;
}

.woocommerce span.page-numbers, 
.woocommerce a.page-numbers{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.woocommerce span.page-numbers:active, 
.woocommerce a.page-numbers:active{
	position: inherit;
	top: inherit;
	margin-top: inherit;
	border-bottom: 5px solid #16A085;
}
/**
 * Responsive
 */
 
@media only screen and (max-width:959px) {
	.woocommerce .cart-collaterals .cross-sells {
        display: none;
    }
    
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
		margin-left: 0px;
		display: block;
		margin-top: 0px;
		padding: 0;
		float: none;
		clear: left;
	}
	.woocommerce .woocommerce-ordering .orderby{
		margin: 0px 0px 20px;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
		float: left;
	}

    .woocommerce .checkout-button.button.alt {
        margin-top: 20px;
        margin-right: 2px;
    }
    
    .woocommerce .cart-collaterals table {
        width: 100%;
    }
    
    .woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals {
        float: none;
    }
    
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		margin-left: 0px;
	}
	
	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images{
		width: 100%;
		float: none;
	}
	
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary{
		width: 100%;
		float: none;
		margin-top: 20px;
	}
}
