.input-text .placeholder input {
margin-bottom: 5px;
width: 90%;
}
.woocommerce-placeholder {
    display: none !important;
}


/* line 5, ../scss/woocommerce-overrides.scss */
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
}

/* line 10, ../scss/woocommerce-overrides.scss */
.woocommerce ul.products li.product .price {
  font-size: 1em;
}

/* line 14, ../scss/woocommerce-overrides.scss */
.woocommerce ul.products li.product .button {
  margin-top: 0;
  margin-left: 10px;
  display: inline-block;
}

/* line 19, ../scss/woocommerce-overrides.scss */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: 95%;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  /* line 19, ../scss/woocommerce-overrides.scss */
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 44% !important;
  }
}
@media screen and (min-width: 1200px) {
  /* line 19, ../scss/woocommerce-overrides.scss */
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 44% !important;
  }
}

/* line 31, ../scss/woocommerce-overrides.scss */
.woocommerce-result-count,
body.post-type-archive-product h1.page-title,
body.post-type-archive-product .woocommerce-ordering {
  display: none;
}

/* line 36, ../scss/woocommerce-overrides.scss */
.woocommerce form input {
  height: inherit;
}

.input-text {
width: 90%;
}
/* line 39, ../scss/woocommerce-overrides.scss */
.woocommerce-info {
  border-color: #244F09;
}

/* line 46, ../scss/woocommerce-overrides.scss */
.woocommerce-message {
  border-color: #468847;
}

/* line 54, ../scss/woocommerce-overrides.scss */
.woocommerce ul.cart_list li dl,
.woocommerce-page ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl,
.woocommerce-page ul.product_list_widget li dl {
  font-size: .8751em;
}

/* line 60, ../scss/woocommerce-overrides.scss */
.woocommerce ul.cart_list li dl dd,
.woocommerce-page ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce-page ul.product_list_widget li dl dd {
  margin-bottom: 0;
}

/* line 68, ../scss/woocommerce-overrides.scss */
input#payment_method_authorize_net_cim {
  display: none;
}

/* line 73, ../scss/woocommerce-overrides.scss */
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
  width: 100%;
  text-align: left;
  float: none;
}

/* line 81, ../scss/woocommerce-overrides.scss */
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  text-align: left;
  float: right;
  width: 100%;
}
/* line 86, ../scss/woocommerce-overrides.scss */
.woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr th {
  width: 50%;
}

/* line 92, ../scss/woocommerce-overrides.scss */
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty {
  margin-bottom: 0;
}

/* line 96, ../scss/woocommerce-overrides.scss */
form.cart div.quantity.buttons_added {
  display: inline-block;
  float: left;
}

/* line 101, ../scss/woocommerce-overrides.scss */
form.cart button.button.alt.add_to_cart_button.product_type_simple {
  float: left;
  margin-left: 1em;
}

/* line 108, ../scss/woocommerce-overrides.scss */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #c8bfc6;
  background: #f7f6f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#e0dadf));
  background: -webkit-linear-gradient(#f7f6f7, #e0dadf);
  background: -moz-linear-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  background: -moz-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  white-space: nowrap;
  display: inline-block;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 126, ../scss/woocommerce-overrides.scss */
.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #246b09;
  background-image: -moz-linear-gradient(top, #247f09, #244f09);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#247f09), to(#244f09));
  background-image: -webkit-linear-gradient(top, #247f09, #244f09);
  background-image: -o-linear-gradient(top, #247f09, #244f09);
  background-image: linear-gradient(to bottom, #247f09, #244f09);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF247F09', endColorstr='#FF244F09', GradientType=0);
  border-color: #244f09 #244f09 #050a01;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 145, ../scss/woocommerce-overrides.scss */
.woocommerce a.button.alt:hover, .woocommerce a.button.alt:focus, .woocommerce a.button.alt:active, .woocommerce-page a.button.alt:hover, .woocommerce-page a.button.alt:focus, .woocommerce-page a.button.alt:active, .woocommerce button.button.alt:hover, .woocommerce button.button.alt:focus, .woocommerce button.button.alt:active, .woocommerce-page button.button.alt:hover, .woocommerce-page button.button.alt:focus, .woocommerce-page button.button.alt:active, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button.alt:active, .woocommerce-page input.button.alt:hover, .woocommerce-page input.button.alt:focus, .woocommerce-page input.button.alt:active, .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit.alt:focus, .woocommerce #respond input#submit.alt:active, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:focus, .woocommerce-page #respond input#submit.alt:active, .woocommerce #content input.button.alt:hover, .woocommerce #content input.button.alt:focus, .woocommerce #content input.button.alt:active, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #content input.button.alt:focus, .woocommerce-page #content input.button.alt:active {
  color: white;
  background-color: #244f09;
  background: green;
  text-decoration: none;
}

/* line 160, ../scss/woocommerce-overrides.scss */
.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  /* line 164, ../scss/woocommerce-overrides.scss */
  .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {
    width: 100%;
    float: none;
  }
}
