/*
Theme Name: Default Theme
Theme URI: http://instinct.co.nz
Description: Default Theme
Version: 3.5
Author: Roy Ho
Author URI: http://instinct.co.nz
*/
/*
 * If you delete this file, you can expect your WP e-Commerce installation to break in some manner
 * to create your own theme copy, and paste this file, change the names and alter to your tastes
*/
/*-----UTILITY-----*/
/* line 15, ../scss/wpsc-default.scss */
.group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*-----IE SPECIFIC STYLESHEET-----*/
/*-----UTILITY-----*/
/* for IE6 */
/* line 26, ../scss/wpsc-default.scss */
* html .group {
  height: 1%;
}

/* for IE7 */
/* line 31, ../scss/wpsc-default.scss */
*:first-childhtml .group {
  min-height: 1px;
}

/*-----GENERAL-----*/
/* line 37, ../scss/wpsc-default.scss */
#default_products_page_container .imagecol img, #list_view_products_page_container img, #grid_view_products_page_container img {
  /*
    margin: 0;
    padding: 0;
  */
}

/* line 45, ../scss/wpsc-default.scss */
.wpsc_hidden {
  display: none;
}

/*-----DEFAULT PRODUCT DISPLAY-----*/
/* line 51, ../scss/wpsc-default.scss */
#default_products_page_container {
  width: 100%;
  position: relative;
  line-height: 1.2em;
}
/* line 55, ../scss/wpsc-default.scss */
#default_products_page_container .wpsc_page_numbers_top {
  margin-bottom: 20px;
}
/* line 58, ../scss/wpsc-default.scss */
#default_products_page_container .wpsc_page_numbers_bottom {
  margin-top: 20px;
}

/* line 63, ../scss/wpsc-default.scss */
.wpsc_category_grid_item {
  text-align: center;
  background: #EFEFEF;
  border: 1px solid #CCC;
  margin: 10px;
  text-decoration: none;
}
/* line 69, ../scss/wpsc-default.scss */
.wpsc_category_grid_item .item_no_image {
  color: #000;
}

/* line 76, ../scss/wpsc-default.scss */
#default_products_page_container .wpsc_page_numbers_top a:link, #default_products_page_container .wpsc_page_numbers_top a:visited {
  padding: 5px 4px;
}
/* line 81, ../scss/wpsc-default.scss */
#default_products_page_container .wpsc_page_numbers_bottom a:link, #default_products_page_container .wpsc_page_numbers_bottom a:visited {
  padding: 5px 4px;
}
/* line 91, ../scss/wpsc-default.scss */
#default_products_page_container .wpsc_page_numbers_top span.current, #default_products_page_container .wpsc_page_numbers_bottom span.current {
  padding: 5px 4px;
}

/* line 96, ../scss/wpsc-default.scss */
.default_product_display {
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}
/* line 100, ../scss/wpsc-default.scss */
.default_product_display .imagecol {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  min-height: 50px;
  height: 100%;
  overflow: auto;
}
/* line 108, ../scss/wpsc-default.scss */
.default_product_display .imagecol img.product_image {
  background-color: #efefef;
}
/* line 111, ../scss/wpsc-default.scss */
.default_product_display .imagecol img.no-image {
  background-color: #EFEFEF;
  display: block;
}

/* line 119, ../scss/wpsc-default.scss */
#content .default_product_display .imagecol img.no-image {
  background-color: #EFEFEF;
  display: block;
}

/* line 125, ../scss/wpsc-default.scss */
.default_product_display .productcol {
  vertical-align: middle;
  min-height: 50px;
}
/* line 129, ../scss/wpsc-default.scss */
.default_product_display h2.prodtitle {
  margin: 0 0 5px 0;
  line-height: 1;
  clear: none;
}

/* line 136, ../scss/wpsc-default.scss */
#content .default_product_display h2.prodtitle {
  margin: 0 0 5px 0;
  line-height: 1;
  clear: none;
}

/* line 143, ../scss/wpsc-default.scss */
.default_product_display span.sale {
  position: absolute;
  top: -10px;
  left: -10px;
  text-indent: -9999px;
  display: block;
}
/* line 150, ../scss/wpsc-default.scss */
.default_product_display .wpsc_description {
  font-size: 13px;
  line-height: 1.4em;
}

/* line 156, ../scss/wpsc-default.scss */
#content .default_product_display .wpsc_description {
  font-size: 13px;
  line-height: 1.4em;
}

/* line 161, ../scss/wpsc-default.scss */
.default_product_display .additional_description, #content .default_product_display .additional_description {
  font-size: 13px;
  line-height: 1.4em;
  margin: 0;
}

/* line 168, ../scss/wpsc-default.scss */
.default_product_display .additional_description_container {
  margin: 20px 0;
}
/* line 172, ../scss/wpsc-default.scss */
.default_product_display a.additional_description_link:link, .default_product_display a.additional_description_link:visited {
  text-decoration: underline;
  color: #0062ce;
  margin-left: 5px;
}
/* line 177, ../scss/wpsc-default.scss */
.default_product_display a.additional_description_link:hover, .default_product_display a.additional_description_link:active {
  text-decoration: none;
}
/* line 181, ../scss/wpsc-default.scss */
.default_product_display .additional_description {
  display: none;
}
/* line 184, ../scss/wpsc-default.scss */
.default_product_display form.product_form fieldset {
  border: none;
  padding: 0px;
}

/* line 190, ../scss/wpsc-default.scss */
#content .default_product_display form.product_form fieldset {
  border: none;
  padding: 0px;
}

/* line 195, ../scss/wpsc-default.scss */
.default_product_display form.product_form fieldset legend, #content .default_product_display form.product_form fieldset legend {
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
}

/* line 201, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms {
  padding: 2px;
  margin-bottom: 10px;
}

/* line 206, ../scss/wpsc-default.scss */
.wpsc_select_variation {
  position: relative;
}

/* line 210, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms table, #content .default_product_display .wpsc_variation_forms table, .default_product_display .wpsc_variation_forms table tr, #content .default_product_display .wpsc_variation_forms table tr, .default_product_display .wpsc_variation_forms table td, #content .default_product_display .wpsc_variation_forms table td {
  border: none;
  border-collapse: collapse;
  margin: 0;
}

/* line 216, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms table td.col1, #content .default_product_display .wpsc_variation_forms table tr td.col1 {
  width: 10%;
  text-align: left;
  margin: 0;
  padding: 2px;
}

/* line 223, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms table td.col2, #content .default_product_display .wpsc_variation_forms table tr td.col2 {
  width: 80%;
  text-align: left;
  margin: 0;
  padding: 2px;
}

/* line 232, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms label {
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 14px;
  color: black;
}
/* line 237, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms select {
  margin: 0;
  min-width: 100px;
  max-width: 200px;
}
/* line 243, ../scss/wpsc-default.scss */
.default_product_display .wpsc_quantity_update {
  /*
      margin-bottom: 10px;
      padding-bottom: 10px;
      margin-left: 10px;
  */
}
/* line 249, ../scss/wpsc-default.scss */
.default_product_display .wpsc_quantity_update input {
  margin: 0;
  line-height: 1.2em;
  font-size: 12px;
}

/* line 257, ../scss/wpsc-default.scss */
#content .default_product_display .wpsc_quantity_update input {
  margin: 0;
  line-height: 1.2em;
  font-size: 12px;
}

/* line 263, ../scss/wpsc-default.scss */
.default_product_display .wpsc_quantity_update label, #content .default_product_display .wpsc_quantity_update label {
  font-family: Georgia, "Bitstream Charter", serif;
  margin: 0;
  line-height: 1.2em;
  font-size: 12px;
  color: #F60;
}

/* line 272, ../scss/wpsc-default.scss */
.default_product_display .wpsc_product_price {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  display: inline-block;
  *zoom: 1;
}
/* line 279, ../scss/wpsc-default.scss */
.default_product_display .in_stock {
  position: relative;
  background-image: url(wpsc-images/yes_stock.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  left: -5px;
}

/* line 288, ../scss/wpsc-default.scss */
.single_product_display .in_stock {
  position: relative;
  background-image: url(wpsc-images/yes_stock.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  left: -5px;
}

/* line 296, ../scss/wpsc-default.scss */
.default_product_display .out_of_stock, .single_product_display .out_of_stock {
  position: relative;
  background-image: url(wpsc-images/outofstock.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  left: -5px;
}

/* line 304, ../scss/wpsc-default.scss */
.default_product_display .wpsc_product_price p, #content .default_product_display .wpsc_product_price p {
  margin: 0;
}

/* line 309, ../scss/wpsc-default.scss */
.default_product_display .wpsc_product_price span.oldprice {
  text-decoration: line-through;
  color: #666;
}
/* line 313, ../scss/wpsc-default.scss */
.default_product_display p.soldout {
  font-weight: bold;
  font-size: 14px;
  color: #C33;
  background: url(wpsc-images/outofstock.png) no-repeat scroll 0 2px transparent;
  padding-left: 18px;
  margin: 0;
}

/* line 323, ../scss/wpsc-default.scss */
#content .default_product_display p.soldout {
  font-weight: bold;
  font-size: 14px;
  color: #C33;
  background: url(wpsc-images/outofstock.png) no-repeat scroll 0 2px transparent;
  padding-left: 18px;
  margin: 0;
}

/* line 332, ../scss/wpsc-default.scss */
.default_product_display div.wpsc_loading_animation {
  visibility: hidden;
  margin-top: 5px;
}
/* line 335, ../scss/wpsc-default.scss */
.default_product_display div.wpsc_loading_animation img {
  border: none;
}

/* line 340, ../scss/wpsc-default.scss */
#content .default_product_display div.wpsc_loading_animation img {
  border: none;
}

/* line 347, ../scss/wpsc-default.scss */
.default_product_display .product_footer .product_average_vote strong, .default_product_display .product_footer .product_average_vote span {
  font-size: 0.8em;
  float: left;
}
/* line 352, ../scss/wpsc-default.scss */
.default_product_display .product_footer .product_user_vote {
  clear: both;
  font-size: 0.8em;
  float: left;
}
/* line 358, ../scss/wpsc-default.scss */
.default_product_display .wpcart_gallery img {
  margin-right: 6px;
  border: 1px solid #ccc;
}

/* line 364, ../scss/wpsc-default.scss */
#content .default_product_display .wpcart_gallery img {
  margin-right: 6px;
  border: 1px solid #ccc;
}

/* line 369, ../scss/wpsc-default.scss */
.wpcart_gallery .attachment-gold-thumbnails, .imagecol .product_image {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

/* line 374, ../scss/wpsc-default.scss */
.single_product_display form.product_form .wpsc_buy_button_container, #content .single_product_display form.product_form .wpsc_buy_button_container {
  margin-left: 10px;
}

/* line 379, ../scss/wpsc-default.scss */
.default_product_display .wpsc_buy_button_container {
  float: right;
}

/*-----LIST VIEW PRODUCT DISPLAY-----*/
/* line 385, ../scss/wpsc-default.scss */
#list_view_products_page_container {
  /* 	width:650px;	 */
  position: relative;
}
/* line 388, ../scss/wpsc-default.scss */
#list_view_products_page_container .wpsc_page_numbers_top {
  margin-bottom: 20px;
}
/* line 391, ../scss/wpsc-default.scss */
#list_view_products_page_container .wpsc_page_numbers_bottom {
  margin-top: 10px;
}
/* line 394, ../scss/wpsc-default.scss */
#list_view_products_page_container p {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

/* line 401, ../scss/wpsc-default.scss */
#content #list_view_products_page_container p {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

/* line 408, ../scss/wpsc-default.scss */
#list_view_products_page_container span.sale {
  display: none;
}
/* line 411, ../scss/wpsc-default.scss */
#list_view_products_page_container input {
  margin: 0;
  padding: 0;
}

/* line 417, ../scss/wpsc-default.scss */
#content #list_view_products_page_container input, #list_view_products_page_container textarea, #content #list_view_products_page_container textarea {
  margin: 0;
  padding: 0;
}

/* line 423, ../scss/wpsc-default.scss */
table.list_productdisplay form.product_form, table.list_productdisplay .quantity_container {
  display: inline;
}

/* line 428, ../scss/wpsc-default.scss */
#content input.wpsc_buy_button {
  /*
  	vertical-align: text-top;
  	background-image: url("../img/glyphicons-halflings-white.png");
  	background-repeat: no-repeat;
  	background-position: -360px -120px;
  	padding-left:14px;
  */
}
@media (max-width: 768px) {
  /* line 428, ../scss/wpsc-default.scss */
  #content input.wpsc_buy_button {
    float: none!important;
    margin-top: 1em;
  }
}

/* line 445, ../scss/wpsc-default.scss */
table.list_productdisplay .wpsc_buy_button_container {
  display: inline;
  position: relative;
}
/* line 448, ../scss/wpsc-default.scss */
table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation {
  position: absolute;
  top: 1px;
  right: -85px;
  *right: -100px;
  font-size: 10px;
  width: 100%;
  vertical-align: middle;
  line-height: 1.2em;
}
/* line 457, ../scss/wpsc-default.scss */
table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation img {
  vertical-align: middle;
  border: none;
  float: left;
}

/* line 465, ../scss/wpsc-default.scss */
#content table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation img {
  vertical-align: middle;
  border: none;
  float: left;
}

/* line 471, ../scss/wpsc-default.scss */
table.list_productdisplay .oldprice {
  text-decoration: line-through;
}

/* line 475, ../scss/wpsc-default.scss */
#list_view_products_page_container table.list_productdisplay input.wpsc_buy_button, #content #list_view_products_page_container table.list_productdisplay input.wpsc_buy_button {
  padding: 5px;
}

/* line 479, ../scss/wpsc-default.scss */
table.list_productdisplay h2.prodtitle, #content table.list_productdisplay h2.prodtitle {
  font-size: 15px;
  line-height: 1.2em;
  margin: 0;
  word-wrap: break-word;
}

/* line 486, ../scss/wpsc-default.scss */
table.list_productdisplay h2.prodtitle a:link, #content table.list_productdisplay h2.prodtitle a:link, table.list_productdisplay h2.prodtitle a:visited, #content table.list_productdisplay h2.prodtitle a:visited {
  text-decoration: underline;
  color: #006699;
}

/* line 491, ../scss/wpsc-default.scss */
table.list_productdisplay h2.prodtitle a:hover, #content table.list_productdisplay h2.prodtitle a:hover, table.list_productdisplay h2.prodtitle a:active, #content table.list_productdisplay h2.prodtitle a:active {
  text-decoration: none;
}

/* line 496, ../scss/wpsc-default.scss */
table.list_productdisplay td.stock {
  text-align: center;
}
/* line 499, ../scss/wpsc-default.scss */
table.list_productdisplay tr.alt {
  background-color: #F8F8F8;
}
/* line 502, ../scss/wpsc-default.scss */
table.list_productdisplay p.soldout {
  color: #C33;
}

/*-----SINGLE PRODUCTS PAGE-----*/
/* line 509, ../scss/wpsc-default.scss */
#single_product_page_container {
  position: relative;
}

/* line 514, ../scss/wpsc-default.scss */
.single_product_display {
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

/* line 520, ../scss/wpsc-default.scss */
.imagecol {
  /* 	width:25%; */
}

/* line 528, ../scss/wpsc-default.scss */
.single_product_display .imagecol img.product_image {
  background-color: #efefef;
  border: 1px solid #ccc;
}
/* line 532, ../scss/wpsc-default.scss */
.single_product_display .imagecol img.no-image {
  background-color: #EFEFEF;
  display: block;
}

/* line 538, ../scss/wpsc-default.scss */
#content .single_product_display .imagecol img.no-image {
  background-color: #EFEFEF;
  display: block;
}

/* line 544, ../scss/wpsc-default.scss */
.single_product_display .product_description, .single_product_display .single_additional_description {
  font-size: 14px;
  line-height: 1.2em;
  margin: 10px 0 10px 0;
  padding: 0;
}
/* line 549, ../scss/wpsc-default.scss */
.single_product_display .product_description.well, .single_product_display .single_additional_description.well {
  padding: 19px;
}
/* line 553, ../scss/wpsc-default.scss */
.single_product_display form.product_form fieldset {
  border: none;
  padding: 0px;
}

/* line 559, ../scss/wpsc-default.scss */
#content .single_product_display form.product_form fieldset {
  border: none;
  padding: 0px;
}

/* line 564, ../scss/wpsc-default.scss */
.single_product_display form.product_form fieldset legend, #content .single_product_display form.product_form fieldset legend {
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
}

/* line 570, ../scss/wpsc-default.scss */
.single_product_display form.product_form input, #content .single_product_display form.product_form input {
  padding: 2px;
  margin: 0;
  line-height: 1.2em;
  font-size: 14px;
}

/* line 577, ../scss/wpsc-default.scss */
.single_product_display form.product_form input.input_custom_text, #content .single_product_display form.product_form input.input_custom_text {
  width: 250px;
}

/* line 581, ../scss/wpsc-default.scss */
.single_product_display form.product_form fieldset p, #content .single_product_display form.product_form fieldset p {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 14px;
}

/* line 588, ../scss/wpsc-default.scss */
.default_product_display .wpsc_variation_forms {
  padding: 2px 0px 2px 0px;
  margin-bottom: 10px;
}

/* line 593, ../scss/wpsc-default.scss */
.single_product_display .wpsc_variation_forms table, #content .single_product_display .wpsc_variation_forms table, .single_product_display .wpsc_variation_forms table tr, #content .single_product_display .wpsc_variation_forms table tr, .single_product_display .wpsc_variation_forms table td, #content .single_product_display .wpsc_variation_forms table td {
  border: none;
  border-collapse: collapse;
  margin: 0;
}

/* line 599, ../scss/wpsc-default.scss */
.single_product_display .wpsc_variation_forms table td.col1, #content .single_product_display .wpsc_variation_forms table tr td.col1 {
  width: 10%;
  text-align: left;
  margin: 0;
  padding: 2px;
}

/* line 606, ../scss/wpsc-default.scss */
.single_product_display .wpsc_variation_forms table td.col2, #content .single_product_display .wpsc_variation_forms table tr td.col2 {
  width: 80%;
  text-align: left;
  margin: 0;
  padding: 2px;
}

/* line 613, ../scss/wpsc-default.scss */
.single_product_display .wpsc_variation_forms select {
  margin: 0;
  min-width: 100px;
  max-width: 200px;
}

/* line 619, ../scss/wpsc-default.scss */
.default_product_display .wpsc_quantity_update {
  /*
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
  */
}

/* line 627, ../scss/wpsc-default.scss */
.single_product_display .wpsc_quantity_update input, #content .single_product_display .wpsc_quantity_update input {
  margin: 0;
  line-height: 1.2em;
  font-size: 12px;
}

/*
.single_product_display .wpsc_quantity_update label, #content .single_product_display .wpsc_quantity_update label {
  font-family: Georgia, "Bitstream Charter", serif;
  margin: 0;
  line-height: 1.2em;
  font-size: 12px;
  color: #F60;
}
*/
/* line 643, ../scss/wpsc-default.scss */
.single_product_display .wpsc_product_price {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}
/* line 648, ../scss/wpsc-default.scss */
.single_product_display .wpsc_product_price p {
  margin: 0;
}

/* line 653, ../scss/wpsc-default.scss */
#content .single_product_display .wpsc_product_price p {
  margin: 0;
}

/* line 658, ../scss/wpsc-default.scss */
.single_product_display .wpsc_product_price span.oldprice {
  text-decoration: line-through;
}
/* line 661, ../scss/wpsc-default.scss */
.single_product_display p.soldout {
  font-weight: bold;
  font-size: 14px;
  color: #C33;
  background: url(wpsc-images/outofstock.png) no-repeat scroll 0 5px transparent;
  padding-left: 18px;
}
/* line 668, ../scss/wpsc-default.scss */
.single_product_display div.wpsc_loading_animation {
  visibility: hidden;
}
/* line 671, ../scss/wpsc-default.scss */
.single_product_display .wpcart_gallery img {
  margin-right: 6px;
  border: 1px solid #ccc;
}

/* line 677, ../scss/wpsc-default.scss */
#content .single_product_display .wpcart_gallery img {
  margin-right: 6px;
  border: 1px solid #ccc;
}

/* line 682, ../scss/wpsc-default.scss */
.single_product_display .FB_like iframe {
  border: none;
  width: 300px;
  height: 80px;
  outline: none;
  overflow: hidden;
}

/* ---- PRODUCT RATING STYLING  ---- */
/* line 692, ../scss/wpsc-default.scss */
.wpsc_product_rating .star {
  cursor: pointer;
  text-indent: -999em;
  display: block;
  width: 18px;
  width: 17px;
  float: left;
}
/* line 699, ../scss/wpsc-default.scss */
.wpsc_product_rating .star a {
  background-position: 0 0;
  display: block;
  height: 100%;
  background: transparent url(wpsc-images/grey-star.png) no-repeat scroll 0 0;
  outline: none;
  outline: none;
}
/* line 705, ../scss/wpsc-default.scss */
.wpsc_product_rating .star a:hover, .wpsc_product_rating .star a.selected {
  background-position: 0 0;
  background: transparent url(wpsc-images/gold-star.png) no-repeat scroll 0 0;
}
/* line 710, ../scss/wpsc-default.scss */
.wpsc_product_rating .star a:focus {
  outline: none;
}

/* line 717, ../scss/wpsc-default.scss */
div.product_footer {
  position: relative;
  clear: both;
  padding: 0 !important;
  width: 80%;
  border-top: 1px dashed #ccc;
  height: 35px;
  margin-top: 1em;
}
/* line 725, ../scss/wpsc-default.scss */
div.product_footer strong {
  display: block;
  font-size: 7pt;
  font-weight: normal;
}
/* line 731, ../scss/wpsc-default.scss */
div.product_average_vote {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  float: left;
  margin: 0 !important;
  height: inherit;
}
/* line 740, ../scss/wpsc-default.scss */
div.product_user_vote {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  margin: 0 !important;
  height: inherit;
}

/* line 751, ../scss/wpsc-default.scss */
span.vote_total {
  position: relative;
  top: -3px;
  left: 2px;
  font-size: 7pt;
}
/* line 757, ../scss/wpsc-default.scss */
span.rating_saved {
  color: #990000;
  display: none;
}

/*-----FANCY NOTIFICATION STYLING-----*/
/* line 765, ../scss/wpsc-default.scss */
#fancy_notification {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 4px solid #cccccc;
  display: none;
  height: auto;
  z-index: 9;
}
/* line 774, ../scss/wpsc-default.scss */
#fancy_notification #loading_animation {
  display: none;
}
/* line 777, ../scss/wpsc-default.scss */
#fancy_notification #fancy_notification_content {
  display: none;
  width: 300px;
  padding: 8px;
  height: auto;
  text-align: left;
  margin: 0 !important;
}
/* line 784, ../scss/wpsc-default.scss */
#fancy_notification #fancy_notification_content span {
  margin: 0 0 6px 0;
  display: block;
  font-weight: normal;
}
/* line 789, ../scss/wpsc-default.scss */
#fancy_notification #fancy_notification_content a {
  display: block;
  float: left;
  margin-right: 6px;
  margin-bottom: 3px;
}

/*-----SHOPPING CART-----*/
/* line 800, ../scss/wpsc-default.scss */
.shopping-cart-wrapper {
  line-height: 1.2em;
  position: relative;
}
/* line 803, ../scss/wpsc-default.scss */
.shopping-cart-wrapper span.cart_message {
  display: block;
  padding: 5px;
  border: 1px solid #dedede;
  margin: 10px 0;
}
/* line 809, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .numberitems {
  margin-bottom: 5px;
  display: block;
}
/* line 813, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart {
  padding: 5px;
}
/* line 815, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table {
  width: 100%;
}
/* line 817, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table th {
  font-family: Arial, sans-serif;
  padding: 2px;
}
/* line 820, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table th:first-child {
  text-align: left;
}
/* line 824, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td {
  padding: 2px;
  text-align: center;
}
/* line 828, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table .cart-widget-count {
  width: 70px;
}
/* line 831, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td {
  text-decoration: none;
}
/* line 833, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td a {
  text-decoration: none;
}
/* line 835, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td a:hover {
  text-decoration: underline;
}
/* line 842, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .remove_button {
  /*
      background: url(wpsc-images/delete.png) no-repeat scroll 0 4px transparent;
      width: 14px;
      text-indent: -9999px;
  */
  border: none;
  outline: none;
  *line-height: 1;
  cursor: pointer;
  background: transparent;
}
/* line 854, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td.cart-widget-remove {
  padding: 0px;
}
/* line 857, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .checkout-shipping, .shopping-cart-wrapper .checkout-tax {
  text-align: right;
  padding: 0px 6px 0px 0px;
}

/* line 864, ../scss/wpsc-default.scss */
.widget_wpsc_shopping_cart #cart-widget-links {
  text-align: right;
  padding: 0px 6px 0px 0px;
}
/* line 868, ../scss/wpsc-default.scss */
.widget_wpsc_shopping_cart .checkout-total, .widget_wpsc_shopping_cart .pluspostagetax {
  text-align: right;
  font-weight: bold;
}

/* line 874, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .shoppingcart table tbody td.product-name {
  text-align: left;
  max-width: 90px;
  word-wrap: break-word;
  overflow: hidden;
}

/* line 882, ../scss/wpsc-default.scss */
.widget_wpsc_shopping_cart .cart-widget-total td {
  border-top: solid 2px #000;
  padding: 5px 6px 5px 5px;
}
/* line 886, ../scss/wpsc-default.scss */
.widget_wpsc_shopping_cart tr.cart-widget-shipping td {
  border-top: 1px solid #000;
}
/* line 889, ../scss/wpsc-default.scss */
.widget_wpsc_shopping_cart .shoppingcart {
  position: relative;
}

/* line 896, ../scss/wpsc-default.scss */
.shopping-cart-wrapper a.emptycart:link, .shopping-cart-wrapper a.emptycart:visited {
  text-decoration: none;
}
/* line 900, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .gocheckout:active {
  border: 1px solid #ccc;
}
/* line 903, ../scss/wpsc-default.scss */
.shopping-cart-wrapper .empty {
  margin-top: 10px;
}
/* line 907, ../scss/wpsc-default.scss */
.shopping-cart-wrapper a.visitshop:hover, .shopping-cart-wrapper a.visitshop:active {
  text-decoration: none;
}

/*

.shopping-cart-wrapper a.visitshop:link, .shopping-cart-wrapper a.visitshop:visited {
	text-decoration:underline;
	font-size:12px;
	color:#006699;
}

.shopping-cart-wrapper .empty {
	margin-bottom:5px;
}
*/
/*-----CHECKOUT PAGE-----*/
/* line 928, ../scss/wpsc-default.scss */
#checkout_page_container {
  position: relative;
  clear: both;
}
/* line 932, ../scss/wpsc-default.scss */
#checkout_page_container textarea, #checkout_page_container input {
  line-height: 1.2em;
  font-size: 14px;
  margin: 0;
}

/* line 940, ../scss/wpsc-default.scss */
#content #checkout_page_container textarea, #content #checkout_page_container input {
  line-height: 1.2em;
  font-size: 14px;
  margin: 0;
}

/* line 948, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.header th {
  text-align: center;
}
/* line 950, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.header th:first-child {
  text-align: left;
}
/* line 955, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td.coupon_code {
  padding-left: 0px;
}
/* line 956, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td.coupon_code form {
  text-align: right;
  padding-right: 18px;
}
/* line 962, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr td {
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}

/* line 969, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr td {
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}

/* line 976, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td form input#coupon_num {
  padding: 0px;
  margin: 0px 20px 0px 0px;
}
/* line 981, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.wpsc_total_before_shipping td.wpsc_total_amount_before_shipping {
  text-align: right;
}

/* line 986, ../scss/wpsc-default.scss */
#content #checkout_page_container p {
  margin-bottom: 0px;
}

/* line 990, ../scss/wpsc-default.scss */
.wpsc_checkout_table input.text {
  width: 255px;
}

/* line 994, ../scss/wpsc-default.scss */
#content img#wpsc_checkout_gravatar {
  float: left;
  margin: 0px 10px 10px 0px;
}

/* line 1000, ../scss/wpsc-default.scss */
#checkout_page_container .wpsc_shipping_header {
  background-color: #f5f5f5;
}
/* line 1004, ../scss/wpsc-default.scss */
#checkout_page_container .wpsc_make_purchase {
  margin-left: 0;
  margin-top: 10px;
}
/* line 1012, ../scss/wpsc-default.scss */
#checkout_page_container .total_price.total_shipping td {
  border: none;
  font-weight: normal;
}
/* line 1015, ../scss/wpsc-default.scss */
#checkout_page_container .total_price.total_shipping td:first-child {
  padding-left: 0;
}
/* line 1019, ../scss/wpsc-default.scss */
#checkout_page_container .total_price td:first-child {
  padding-left: 0;
}
/* line 1023, ../scss/wpsc-default.scss */
#checkout_page_container .wpsc_shipping_quote_name, #checkout_page_container .wpsc_shipping_quote_price, #checkout_page_container .wpsc_shipping_quote_radio {
  border-bottom: solid 1px #e1e1e1;
}
/* line 1026, ../scss/wpsc-default.scss */
#checkout_page_container .wpsc_shipping_quote_name label, #checkout_page_container .wpsc_shipping_quote_price label, #checkout_page_container .wpsc_shipping_quote_radio label {
  color: #000;
}

/* line 1031, ../scss/wpsc-default.scss */
#content #checkout_page_container table.productcart {
  border: none;
}
/* line 1032, ../scss/wpsc-default.scss */
#content #checkout_page_container table.productcart tr td {
  border-top: none;
  padding-left: 0px;
}

/* line 1040, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr.wpsc_coupon_row tr {
  border-bottom: 0px;
}
/* line 1043, ../scss/wpsc-default.scss */
#checkout_page_container p.validation-error {
  clear: both;
  background: #790000!important;
  font-size: 2.2em!important;
  font-weight: bold!important;
  color: #fff!important;
  line-height: 1.8!important;
  padding: 10px!important;
}

/* line 1054, ../scss/wpsc-default.scss */
#content table.wpsc_checkout_table {
  border: none;
  padding: 0px;
  vertical-align: top;
}
/* line 1060, ../scss/wpsc-default.scss */
#content table.wpsc_checkout_table td {
  padding: 10px 15px 9px 0;
}
/* line 1063, ../scss/wpsc-default.scss */
#content table.wpsc_checkout_table tr td {
  border: none;
  vertical-align: top;
}

/* line 1070, ../scss/wpsc-default.scss */
.wpsc-shopping-cart .asterix {
  color: red;
}

/* line 1075, ../scss/wpsc-default.scss */
#checkout_page_container img.product_image {
  background-color: #efefef;
  border: 1px solid #ccc;
}
/* line 1079, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart {
  border: none;
}
/* line 1081, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart tr {
  margin: 0;
  padding: 0;
}

/* line 1088, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr {
  margin: 0;
  padding: 0;
}
/* line 1091, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr.wpsc_coupon_row td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
}
/* line 1096, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr.product_row {
  padding: 2px 0px 1px 0px;
  margin: 0px;
  line-height: 1;
}
/* line 1097, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr.product_row td {
  padding: 2px 0px 1px 0px;
  margin: 0px;
  line-height: 1;
}
/* line 1098, ../scss/wpsc-default.scss */
#content #checkout_page_container table.checkout_cart tr.product_row td.wpsc_product_image img {
  height: 31px;
  width: 31px;
}

/* line 1113, ../scss/wpsc-default.scss */
#checkout_page_container table.checkout_cart td.firstcol {
  vertical-align: middle;
  text-align: center;
}
/* line 1117, ../scss/wpsc-default.scss */
#checkout_page_container .coupon {
  position: relative;
  float: right;
  margin: 10px 0;
}
/* line 1121, ../scss/wpsc-default.scss */
#checkout_page_container .coupon span.coupon_error {
  position: absolute;
  top: -24px;
  left: 156px;
  color: #F30;
  font-size: 14px;
  line-height: 1.2em;
}
/* line 1130, ../scss/wpsc-default.scss */
#checkout_page_container .col1 {
  float: left;
  width: 320px;
}
/* line 1134, ../scss/wpsc-default.scss */
#checkout_page_container .col2 {
  float: right;
  width: 320px;
}
/* line 1138, ../scss/wpsc-default.scss */
#checkout_page_container input.intra-field-label, #checkout_page_container textarea.intra-field-label {
  color: #bbb;
}

/* line 1148, ../scss/wpsc-default.scss */
.wpsc_registration_form {
  float: left;
  margin-top: 15px;
  width: 300px;
}
/* line 1152, ../scss/wpsc-default.scss */
.wpsc_registration_form label {
  width: 100px;
  display: inline-table;
  margin-bottom: 10px;
}
/* line 1157, ../scss/wpsc-default.scss */
.wpsc_registration_form fieldset {
  border: none;
  padding-left: 0px;
  padding-top: 12px;
  border-top-color: #E7E7E7;
  border-top-style: solid;
  border-top-width: 2px;
}
/* line 1165, ../scss/wpsc-default.scss */
.wpsc_registration_form.wpsc_right_registration {
  border-left-style: solid;
  border-left-color: #E7E7E7;
  border-left-width: 2px;
  padding-left: 20px;
}

/* line 1173, ../scss/wpsc-default.scss */
.wpsc_signup_text {
  padding-top: 15px;
  font-size: 12px;
}

/* line 1178, ../scss/wpsc-default.scss */
#shippingSameBilling {
  position: relative;
  right: 10px;
}

/* line 1183, ../scss/wpsc-default.scss */
#shippingsameasbillingmessage, .wpsc_no_image {
  display: none;
}

/* line 1187, ../scss/wpsc-default.scss */
.clear {
  clear: both;
}

/*-----Featured Image-----*/
/* line 1193, ../scss/wpsc-default.scss */
.item_text {
  float: left;
  width: 33%;
}
/* line 1196, ../scss/wpsc-default.scss */
.item_text h2 a {
  color: #000000;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 1204, ../scss/wpsc-default.scss */
.featured_item_image a img {
  float: right;
  width: 80%;
}

/* line 1209, ../scss/wpsc-default.scss */
.wpsc_container.wpsc_featured {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1214, ../scss/wpsc-default.scss */
.featured_product_price {
  font-style: oblique;
  margin-bottom: 10px;
}

/* line 1219, ../scss/wpsc-default.scss */
.wpsc_description a {
  text-decoration: none;
  font-size: 14px;
}
