$distressFont:          'bushcraftdistress', "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

body {
    padding-top: 0px;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
        color: #591E00;
        font-weight: 400;
    }
    h1, h2, h3 {
        line-height: 1.2;
    }
    a {
        color: #167d00;
    }
}

h1.text-center {
  color: #247F09;
}

.page-top-header {
	 background: url("../images/lbnoise.png");
}

#content {
  padding-top: 60px;    /* To accomodate the fixed menu on desktop */
}
.blog, .archive , .search-results, .search-no-results {
    #content {
        padding-top: 0;  /* Blog and Search Results have Blog Header above content, so set padding back to 0 */
    }
}
.post-type-archive-product #content {
    padding-top: 60px;  /* This is the 1 archive page which still needs the padding */
}

.hero-unit {
  background: url("../images/lbnoise.png");
  padding: 2% 5%;
}

.well {
  background: url("../images/lbnoise.png");
  border: none;
}

.footer {
    background-color: #fbfbf0;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    padding-bottom: 0;

    .row-fluid {
      .container {
        background-image: none;
        .row {
          background-color: #f8f7eb;
          background-color: #fbfbf0;
//          margin: 0 0 0 -20px;
          padding:5px 0 15px 0;
        }
      }
    }

  div a.btn {
	  margin: 0 5px;
  }
  ul.nav.inline li:first-child {
    padding-left: 0;
  }
    .social-buttons{
	float:right;
	  img {
	    border-radius: 7px;
	    box-shadow: -1px -1px 1px #aaaaaa;
	    margin-left: 10px;
	  }
  }

    .nav-footer {
      margin: 0 auto;
      padding: 20px 0 0px;
      text-align: center;

      li {
        margin: 0 14px;

        a {
          font-family: 'Lato', sans-serif;
          font-size: 19px;
          font-weight: 700;
          text-transform: uppercase;
          color: #6c5735;
          line-height: 30px;

          &:hover {
            background-color: transparent;
            color: #8a6f44;
          }
        }
      }


    }
    .info {
      margin: 0 auto;
      padding: 10px 0;
      text-align: center;
      a {
        color: #6c5735;
        font-weight: 700;

        &:hover {
          text-decoration: none;
          color: #8a6f44;
        }
      }
      .pipe {
        padding: 0 15px
      }
    }
    .social {
      padding: 20px 0 0;
    }
    .social-buttons img {
      box-shadow: none;
    }
    .copyright {
        font-weight: 700;
        font-size: 13px;
        color: #6c5735;

        a {
            color: #6c5735;
        }
    }
  }

ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.brownbg {
	clear:both;
  background: url("../images/brown-paper.jpg");
  padding: 25px 0;
  h1 {
    color: #fff;
  }
}

.top-bg {
  background: url("../images/brownnoise.png");
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: -1;
  margin-top: -41px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: transparent;
  color: #1c5006;
}

.navbar {
	.nav.pull-right{
		//margin: 0!important;
	}
  .nav > li > a {
    font-size: 18px;
   // padding: 4px 12px;
   // padding: 15px 20px;
    padding: 10px 10px;
    color: #4f973a;
    text-decoration: none;
    margin-right: 10px;
  }
  margin-top: 15px;
  .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  .brand {
    //padding: 14px 20px 16px;
    padding: 0;
    /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  li > a > span.badge {
	  font-size: 9px;
	  margin-left: 4px;
	  position: relative;
	  bottom: 3px;
	  margin-top: 5px;
	}


	li#menu-item-220, li#menu-item-106 {

	}
//dropdown nav bar
	.nav-collapse, .nav-collapse.collapse {
		background: url("../images/lbnoise.png");
	}
}

/* !carousel */
.carousel {
  box-shadow: 1px 1px 8px #591E00;
  margin-bottom: 0px;
  .container {
    position: relative;
    z-index: 9;
  }

  .item {
    height: 500px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  font-weight:400;
  opacity:1;
}

.carousel-caption {
  background: rgba(89, 30, 0, 0.6);
  border-radius: 15px;
  position: static;
  max-width: 550px;
  padding: 20px 20px;
  margin-top: 230px;
  h1, .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }
  .btn {
    margin-top: 10px;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 265, ../scss/home.scss */

.marketing {
  background: url("../images/lbnoise.png");
  padding: 60px 0;
  .span4 {
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
  .span12.headline {
    margin-bottom: 2em;
  }
  .call-to-action{
    margin-top:2em;
    .tease{
      margin-right:1em;
      font-size: 28px;
      line-height:42px;
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-smoothing: antialiased;
      color: #591E00;
      font-weight: 400;
    }
  }
}

p.tiles-paragraph {
	font-size:18px;
	line-height:24px;
}

.green-marketing {
  background: url("..images/greennoise.png");
  padding: 60px 0;
  .span4 {
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
  .span12.headline {
    margin-bottom: 2em;
  }
}



/* Featurettes
------------------------- */


.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}


.featurette {
  padding-top: 60px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
  .featurette-image {
    margin-top: 0px;
    max-width: 400px;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    &.pull-left {
      margin-right: 40px;
    }
    &.pull-right {
      margin-left: 40px;
    }
  }
  &:first-child {
    margin-top: 2em;
  }
  &:last-child {
	  margin-bottom: 2em;
  }
}

.featurette-small {
  padding-top: 0px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
  .featurette-image {
    margin-top: 0px;
    max-width: 400px;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    &.pull-left {
      margin-right: 40px;
    }
    &.pull-right {
      margin-left: 40px;
    }
  }
  .featurette-content {
    padding-top: 4em;
  }
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* Thin out the marketing headings */

.featurette-heading {
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #258009;
  span{
	  color:#244F09;
  }
}

/* Misc Styles
-------------------------------------------------- */
.green-button {
    background-color: #6fbf39 !important; /* green */
    margin: 20px 0 0 0  !important;
    display: inline-block;
    border: 0  !important;
    border-radius: 28px  !important;
    padding: 6px 35px  !important;
    font-size: 14px;
    line-height: 22px;
    color: white !important;
    font-family: 'Lato', sans-serif;
    height: auto;

    &.larger-text {
        font-size: 16px;
    }

    &:hover {
      background-color: #7cd540  !important; /*lighter green */
      text-decoration: none;
    }
}
.widget_shopping_cart .green-button {
    padding: 6px 18px  !important;
}
.widget_shopping_cart .green-button + .green-button {
    margin-left: 5px;
}
/* Menu pages - Add to Cart button */
.post-type-archive-product ul.products li.product .green-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 6px 25px !important;
    margin-top: 0 !important;

    @media (min-width: 485px) and (max-width: 540px) {
        padding: 6px 20px !important;
    }

}

.menu-image a {
    padding: 0 !important;
}
.read-blog {
    display: inline-block;
    background-image: url("../images/font-text.png");
    width: 180px;
    height: 31px;
    background-position: 0 7px;
    margin: -12px 0 0 0;
}

.distress-title {
    font-size: 50px;
    color: #451c13 !important;
    font-family: $distressFont;
    margin: 20px 0;
    text-align: center;
}

/* VISIBILITY CLASSES
-------------------------------------------------- */
.checkout-only {
    display: none; /* Default to hidden everywhere */
}
.woocommerce-checkout .checkout-only {
    display: block; /* Show only on Checkout page */
}

.customers-only {
    display: none; /* Default to hidden for all */
}
.logged-in .customers-only {
    display: block;  /* Show only for logged in users */
}

.visitors-only {
    display: block; /* Default to showing for all */
}
.logged-in .visitors-only {
    display: none;  /* Hide for logged in users */
}


/* SOCIAL MEDIA TILES
-------------------------------------------------- */

  .social-media-tiles {
    .row {
      padding-top: 30px;
    }

    /* NOT IN USE *
    .span3 {
      margin-left: 0;
      width: 33.333333%;
      width: 25%;
      @media (min-width: 768px) and (max-width: 979px) { width: 33.333333%; width: 25%; }
      @media (max-width: 767px) { width: 100%;}
      img {
        object-fit: cover;
        height: 600px;
        @media (max-width: 1500px) { height: 475px; }

        @media (min-width: 768px) and (max-width: 979px) { width: 33.333333%; width: 25%; }

      }
    } ***/

    .span2, .span4 {
      margin-left: 0 !important;
//      width: 25%;
//      @media (min-width: 768px) and (max-width: 979px) { width: 33.333333%; width: 25%; }
//      @media (max-width: 767px) { width: 100%;}
      @media (max-width: 767px) {
        width: 640px;
        width: 100%;
        margin: 0 auto;
      }
      img {
        object-fit: cover;
        height: 720px;
        @media (max-width: 1500px) {
          height: 480px;
        }
        @media (max-width: 767px) {
          height: 640px;
        }
      }
    }
    .half-height {
      img {
        height: 360px;
        @media (max-width: 1500px) {
          height: 240px;
        }
        @media (max-width: 767px) {
          width: 100%;
          height: 640px;
        }
      }
    }

    .span1 {
    }
    .pad1 {
      margin-left: 5% !important;
    }

    .img-container {
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;

      .title {
        background-color: white;
        padding: 0 4px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        font-size: 12px;
        color: black;
      }
    }

  }


/* NEWSLETTER
-------------------------------------------------- */

  // newsletter, gravity form
  .row-fluid.newsletter {

    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fbfbf0;

    padding-top: 320px;
    // Tablets & small desktops only
    @media (min-width: 768px) and (max-width: 979px) { padding-top: 220px;}
    // Phones only
    @media (max-width: 767px) { padding-top: 120px;}

          // title text
          h4 {
            text-align: center;
            font-family: Georgia, serif;
            color: #e85b2f;
            font-size: 34px;
            @media (max-width: 767px) { font-size: 20px; }
          }

          .homepage-v2-newsletter_wrapper {
            background-color: #f8f7eb;
            background-color: #fbfbf0;

            font-family: Lato, sans-serif;
            margin: 0;

            .gform_description {
              font-family: 'Lato', sans-serif;
              font-size: 33px;
              line-height: 38px;
              font-weight: 100;
              text-align: center;
              color: #ff8c01;
            }
            form {
              background-color: transparent;
              margin: 0 6%;
              padding: 0px 0 20px;

            }

            //
            .gfield_description {
              font-size: 18px;
              font-weight: 100;
              color: white;
              width: inherit;
              display: inline-block;
            }

            // form
            ul.gform_fields {
              margin: 12%;
            }

            // email, password
            li.newsletter-name, li.newsletter-email, li.newsletter-zip {
              display: inline-block;
              width: 165px;
              width: 255px;
              width: 230px;
              @media (min-width: 979px) and (max-width: 1200px) {
                width: 205px;
                width: 180px;
               }
              // Tablets
              @media (min-width: 768px) and (max-width: 979px) { width: 50%; }
              // Phones
              @media (max-width: 767px) { width: 100%; }
            }
            li.newsletter-email {
              width: 355px;
              @media (min-width: 979px) and (max-width: 1200px) {
                width: 305px;
               }
               // Tablets
               @media (min-width: 768px) and (max-width: 979px) { width: 50%; }
               // Phones
               @media (max-width: 767px) { width: 100%; }
            }
            li.newsletter-zip {
              display: inline-block;
              width: 205px;
              @media (min-width: 979px) and (max-width: 1200px) {
                width: 205px;
                width: 155px;
               }
               // Tablets
               @media (min-width: 768px) and (max-width: 979px) { width: 50%; }
               // Phones
               @media (max-width: 767px) { width: 100%; }
            }

            label.gfield_label {
              display: none;
            }
            input.large   {
              height: 34px;
              width: 100%;
              border: 2px solid #ddd;
              line-height: 34px;
              font-size: 15px;
              font-style: italic;
            }

            .gform_footer {
              text-align: center;
            }

            //color: #8dc63f;
            .gform_footer input.button, .gform_footer input[type=submit]   {
              background-image: none;
              background-color: #e85b2f;
              border: 0;
              border-radius: 22px;
              padding: 12px 55px;
              font-size: 19px;
              font-family: Lato, sans-serif;
              font-weight: 300;
              color: white;
              height: 50px;
            }
          }
    }

/* JOBS / CAREERS CSS
-------------------------------------------------- */
.single-foodery-job {
    .meta {
        display: none;
    }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 980px){

}

@media (min-width:768px) and (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
   .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
.carousel {
    .item {
      height: 210px;
    }
    img {
      width: auto;
      height: 210px;
    }
  }
  .featurette {
    height: auto;
    padding: 0;
  }

  .featurette-image {
    &.pull-left, &.pull-right {
      display: block;
      float: none;
      max-width: 40%;
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
    .item, img {
      height: 150px;
    }
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
    h1 {
      font-size: 30px;
    }
    .lead, .btn {
      font-size: 18px;
    }
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }

  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}


@media (max-width: 630px) {

  .masthead .button-container {
    width: 40px;
    z-index: 999;
  }
/*
  .nav-collapse, .nav-collapse.collapse {
	  z-index: 999;
	  border-radius: 4px;
  }
*/

  .featurette{
	  .featurette-image{
	  //get ride of the pulls for mobile
		  &:pull-right{
			  margin-left:0!important;
		  }
		  &:pull-left{
			  margin-right: 0!important;
		  }
	  }
  }
}

.masthead {
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 100% !important;

  @media screen and (max-width: 1200px) {
	  margin-bottom: 1em;
	  margin-top: .5em;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    margin-top: .5em;
  }
  a.brand {
  	  width: 350px;
	  @media screen and (max-width: 1200px) {
	    width: 300px;
	  }
	  @media screen and (max-width: 767px) {
		  margin-left:10px;
	  }
	  @media screen and (max-width: 400px) {
		width: 225px;
		margin-left: 5px;
		margin-top: 5px;
	  }
/*
	  @media screen and (max-width: 1200px) {
	    width: 300px;
	  }
*/
    img {
    //  width: 100%;
    }
    p {
      text-shadow: none;
      font-weight: normal;
    }
  }
  .button-container {
    button {
      position: relative;
    }
    span.badge {
      position: absolute;
      top: -10px;
      left: 21px;
    }
  }
}

div.row.button-row {
  margin-top: 1em;
}

.product {
  margin-top: 2em;
  position: relative;
  background: #fcfcfc;
  padding: 10px 20px 3px 10px;
  &.row {
    .span4 h2 {
      margin-top: 0;
    }
    .product-title {
      position: absolute;
      top: 3em;
      padding: 5px 10px;
      color: #fff;
      background: rgba(113, 113, 113, 0.8);
    }
    .product-content {
      display: block;
      padding: 1em;
    }
  }
}

.woocommerce li.product .stock {
    font-size: 0.9em;
    font-weight: bold;
}
.woocommerce .product .in-stock {
    color: #591e00;
}
.woocommerce li.product .out-of-stock {
    color: red;
}


img.featured-image {
  margin-bottom: 1em;
}

.article {
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }
  img {
    &.pull-right {
      margin-left: 1em;
    }
    &.pull-left {
      margin-right: 1em;
    }
  }
}

#sidebar1 .cart .item {
  margin-bottom: 1em;
  overflow: auto;
  .image {
    margin-left: 0;
  }
  .info {
    margin-left: 0;
    .badge {
      float: right;
    }
  }
}
//cart well

#sidebar1 .cart-well{

}
.stack .row {
  margin-bottom: 2em;
}

.form-horizontal .control-label {
  text-align: left;
}

span.wpcf7-form-control-wrap {
  display: inline;
}

.article img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  &[align="right"] {
    margin-left: 1em;
  }
  &[align="left"] {
    margin-right: 1em;
  }
}

div.widget h4.widgettitle {
        font-weight: 700;
	font-size: 20px;
        text-transform: uppercase;
}
div.versus-table {
  .featurette-heading{
    margin:1em 0;
  }
	.vs-graphic {
		position: absolute;
		margin-left: -75px;
		margin-top: 235px;
		z-index:5;
		width: 85px;
		height: 85px;
		background: url("../images/vsbtn.png");
		background-size:cover;
    @media screen and (max-width: 480px) {
      position: relative;
      margin: 0 auto;
    }

	}

	table {

		tr {

			h1 {
				background:#247F09;
				color:#fff !important;
				padding:40px 25px;
				border:0;
				border-bottom:25px solid #50983b;
				font-size:28px;
				margin-bottom:-5px;
				}
		}

		th {
			margin:0 !important;
			padding:0 !important;
		}

		thead {
			padding:0 !important;
			margin:0 !important;
		}

		td {
			background: url("../images/lbnoise.png") repeat;
			margin:0;
			font-size:18px;
			font-weight:300;
			line-height:25px;
			padding:25px 30px !important;
			color:#444;
			border-top:0 !important;
			border-bottom:1px solid #fff !important;
			border-color: #aaa !important;
		}
	}
}

/******************************************
Gravity Forms
******************************************/

body.woocommerce-account.woocommerce-page #main {
    #gform_4 {
        border: 1px solid #d3ced2;
        border-radius: 5px;
        margin: 2em 0;
        padding: 20px;
        text-align: left;
    }
    .gform_wrapper ul li.gfield {
        margin-top: 0;

        span label {
            font-style: italic;
        }
    }
    .gform_wrapper ul li.gfield + li.gfield  {
        margin-top: 16px;
    }

    .gform_wrapper label.gfield_label {
        font-weight: 400;
    }
    .gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        height: 27px;
        padding: 5px 7px;
        margin-bottom: 0;
    }
    .gform_wrapper .gfield_password_strength {
        padding: 5px;
        border-width: 1px;
    }
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    height: 27px;
    padding: 5px 7px;
    margin-bottom: 0;
}
/*************************************
Sidebar Referral Gravity Forms
*************************************/
body .sidebar .gform_wrapper {
    margin: 0;

    form {
        margin: 0;
    }
    label.gfield_label {
        font-weight: 400;
    }
    .top_label div.ginput_container {
        margin-top: 0;
    }
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        height: 27px;
        margin-bottom: 0;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        padding: 5px 7px;
    }
    .top_label input.medium, .top_label select.medium {
        width: 100%;
    }
    span.name_first, span.name_last {
        label {
            display: none !important;
        }
    }
    .gform_footer {
        margin-top: 2px;
    }
}

body .sidebar .gform_wrapper .gform_footer input[type="submit"],
.woocommerce #customer_login .gform_footer input[type="submit"],
.woocommerce #customer_login input[type="submit"],
.woocommerce-checkout .checkout_coupon .button,
.woocommerce-checkout .checkout_giftcard .button,
.brown-button {
            background: none #471b11; /* brown */
            border: 0;
            border-radius: 28px;
            height: 30px;
            padding: 5px 25px;
            font-size: 14px;
            color: white;
            font-weight: 400;
            text-shadow: none;

            &:hover {
                color: white;
                background-color: #6b291a; /*lighter brown */
            }
        }

.sign-up-title-block {
  width: 100%;
  text-align: center;
}

.sign-up-title {
  display: inline-block;
  background-image: url("../images/font-text.png");
  width: 455px;
  height: 40px;
  background-position: 0 -215px;
  margin: 0;
}

.woocommerce-page .gform_confirmation_wrapper {
    margin-top: 30px; /* Bump post-Register message down on My Account page so it lines up with Login box */
}

/******************************************
New Header
******************************************/
header.homepage-v2-header .container {
  background-color: #fff;
}
header.homepage-v2-header .navbar {
  margin-top: 10px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  header.homepage-v2-header .navbar {
    margin-bottom: 10px;
  }
}
header.homepage-v2-header .navbar .brand {
  margin-top: 5px;
  margin-left: 20px;
}
header.homepage-v2-header .navbar .nav > li > a {
  font-weight: 300;
  font-size: 15px;
  color: #888888;
  margin: 0 20px 0;
}
header.homepage-v2-header .navbar .nav li.menu a {
  color: #2a9d18;
  font-weight: 700;
}
header.homepage-v2-header .navbar .nav li.cart a {
  color: #361910;
  font-weight: 700;
}
header.homepage-v2-header .masthead {
  margin-top: 0;
  margin-bottom: 0;
}
header.homepage-v2-header .masthead a.brand {
  width: 179px;
}
@media (min-width: 768px) and (max-width: 979px) {
  header.homepage-v2-header .masthead a.brand {
    width: 179px;
  }
}
@media (max-width: 767px) {
  header.homepage-v2-header .masthead a.brand {
    width: 179px;
  }
}


// hide show account menu based on status
#menu-top-menu-v2 > li.my-account {display: none;}
.logged-in #menu-top-menu-v2  > li.sign-in {display: none;}
.logged-in #menu-top-menu-v2  > li.my-account {display: list-item;}

// fixed navbar
.masthead {
  border-bottom: 1px solid #eee;
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 3000;
  top: 0;
  width: 100%;
  /* @media (max-width: 767px) { margin-left: -10px; } */

  .navbar {
    .container {
      width: 1170px;
      margin: 5px auto 5px;
      // Tablets & small desktops only
      @media (min-width: 980px) and (max-width: 1199px) {
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 979px) {
        width: 100%;
        margin: 10px 0 10px;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin: 10px 0 10px;
      }
      .nav > li > a {
        @media (min-width: 980px) and (max-width: 1199px) {
          padding: 10px 5px;
        }
      }
    }
  }
}

// footer: social media icons
.social-buttons {
  a {
    color: #6c5735;
  }
  a:hover {
    color: #8a6f44;
  }
  .fa {
    padding: 0px 8px;
    font-size: 32px;
    line-height: 32px;
  }

}
