/* Used when testing to ensure regular customers don't accidentally choose COD */
.payment_method_cod{
	display:none;
}
#stripe-payment-data .woocommerce-SavedPaymentMethods label{
	display:inline-block;
}
.woocommerce-checkout form .form-row .input-checkbox{
	margin:9px -9px 0 0 !important;
}
.post-type-archive-product #content, .product-template-default #content{
	padding-top:100px;
}
.product_headline .h1{
	font-family:NexaRustScriptL-1, Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#591e00 !important;
	display:inline-block;
}
.product_headline .h2{
	font-family:'Lato', sans-serif;
	color:#591e00 !important;
	font-weight:700;
	display:inline-block;
	font-size:19px;
	padding-left:10px;
}
.product_headline .line{
	background:#ffffff;
	padding-right:15px;
	position:relative;
	bottom:-10px;
	display:inline-block;
}
.product_headline{
	margin-bottom:20px;
	/*padding-bottom: 10px;*/
	max-width:850px;
	border-bottom:1px solid #591e00;
}
.select_date_wrap{
	position:fixed;
	top:50px;
	z-index:100;
	width:100%;
	/*height: 70px;*/
	background:#ffffff;
	left:0;
	right:0;
	text-align:center;
	border-bottom:1px solid #eeeeee;
	/*box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);*/
	box-sizing:border-box;
	/*padding: 10px 0;*/
	font-size:0;
}
.select_date_wrap .day-unit{
	padding:15px 20px !important;
	cursor:pointer;
	/*height: 60px;*/
	display:inline-block;
	transition:all linear 0.2s, box-shadow linear 0.2s;
	/*margin: 5px 5px 0;*/
	border-radius:0;
	background:none !important;
	border-bottom:3px solid transparent;
	background:#ffffff;
	vertical-align:top;
	color:#591e00;
	font-size:22px;
	font-weight:400;
	font-family:'Lato', sans-serif;
	box-sizing:border-box;
}
.select_date_wrap .day-unit div{
	display:inline-block;
	padding-right:5px;
}
/*.select_date_wrap .day-unit:hover {*/
/*border-color: #468847;*/
/*color: #468847;*/
/*text-decoration: none;*/
/*}*/
.select_date_wrap button{
	/*color: #ffffff !important;*/
	/*background: #591e00 !important;*/
	/*border-color: #591e00 !important;*/
	margin:12px 5px 0;
}
.select_date_wrap .day-unit:hover{
	/*color: #ffffff !important;*/
	/*background: #468847 !important;*/
	border-color:#468847 !important;
	text-decoration:none;
}
.select_date_wrap .span9:not(.result_hover) .active{
	border-color:#468847 !important;
	text-decoration:none;
}
.select_date_wrap .hero-unit:hover{
	/*box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);*/
}
.select_date_wrap h2{
	font-size:14px;
	margin:0;
}
.select_date_wrap .green-button{
	display:none;
}
.dateslider{
	width:25px;
	height:25px;
	/*display: inline-block;*/
	border:none;
	font-size:21px;
	margin:0 15px;
	cursor:pointer;
	transition:all 0.4s ease;
	position:relative;
	top:13px;
	display:none;
}
.disabledBtn{
	opacity:.65;
	color:#cccccc !important;
	border-color:#cccccc !important;
	cursor:default !important;
}
.dateslider:hover{
	color:#468847;
	border-color:#468847;
}
/*.select_date_wrap .span6 {*/
/*width: 110px !important;*/
/*margin: 0 5px !important;*/
/*float: none !important;*/
/*display: inline-block !important;*/
/*}*/
.select_date_wrap .delivery-date-selection-title{
	display:none;
}
#sidebar1 > .widget.well.cart-well{
	display:none !important;
}
ul.products > .hero-unit, ul.products > .show-order-now{
	display:none !important;
}
#sidebar1 > .delivery-date-only .widgettitle{
	text-align:center;
	font-size:24px;
	padding-bottom:15px;
}
#sidebar1 > .delivery-date-only .textwidget p{
	margin-bottom:10px;
}
#sidebar1 > .delivery-date-only .textwidget p strong{
	display:block;
}
.post-type-archive-product ul.products li.product .green-button{
	width:100% !important;
	max-width:94%;
}
@media (max-width:1200px){
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		padding:1% 1% 30px 1%;
	}
	.select_date_wrap .day-unit{
		font-size:15px;
		padding-left:10px !important;
		padding-right:10px !important;
	}
	.product_headline .h1{
		font-size:28px;
	}
	.product_headline .h2{
		font-size:19px;
	}
}
@media (max-width:503px){
	.post-type-archive-product ul.products li.product .green-button{
		position:static;
		bottom:0;
		left:0;
		-webkit-transform:translateX(0);
		transform:translateX(0);
		padding:6px 25px !important;
		margin-top:20px !important;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		padding-bottom:20px;
	}
}
.post-type-archive-product #content{
	padding-top:80px !important;
}
@media (max-width:480px){
	#sidebar1 .delivery-date-only{
		display:none;
	}
	#sidebar1{
		display:-webkit-box;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		-webkit-box-align:stretch;
		-ms-flex-align:stretch;
		-webkit-align-items:stretch;
		-moz-align-items:stretch;
		align-items:stretch;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		-webkit-justify-content:space-between;
		-moz-justify-content:space-between;
		justify-content:space-between;
	}
	#sidebar1 > *{
		-webkit-flex-basis:100%;
		-moz-flex-basis:100%;
		-ms-flex-basis:100%;
		flex-basis:100%;
	}
	body #sidebar1 .widget_shopping_cart:last-child{
		display:none !important;
	}
	#woocommerce_widget_cart-2{
		order:1;
	}
	#custom_html-2{
		order:2;
	}
	#sidebar1 > .widget.well:first-child{
		order:3;
	}
	.post-type-archive-product #content{
		padding-top:0;
	}
	.select_date_wrap{
		position:static;
		top:50px;
		z-index:100;
		width:100%;
		height:auto;
		background:#ffffff;
		left:0;
		right:0;
		text-align:center;
		border-bottom:none;
		box-shadow:none;
		margin-bottom:20px;
	}
	.select_date_wrap button{
		display:none;
	}
}
