/* Used when testing to ensure regular customers don't accidentally choose COD */
.payment_method_cod {
    display: none;
}
#stripe-payment-data .woocommerce-SavedPaymentMethods label {
    display: inline-block;
}
.woocommerce-checkout form .form-row .input-checkbox {
    margin: 9px -9px 0 0 !important;
}