body {
  padding-top: 0px;
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
  background: url("../images/noise.png");
  border-top: 6px solid #591E00;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #591E00;
    font-weight: 400;
  }
  a {
    color: #167d00;
  }
}

h1.text-center {
  color: #247F09;
}

	footer {
  margin-top: 2em;
  font-family: 'Lato', sans-serif;
 }

.page-top-header {
	 background: url("../images/lbnoise.png");
}

.footer-top {
  background: url("../images/dnoise.png");
  overflow: auto;
  padding: 25px 0;
  .pull-right{
    float:none;
    //width:200px;
    margin:1em 0 0 3em;
    @media screen and (min-width:500px){
      float:right;
      margin:0;
    }
  }
  .pull-left{
    float:none;
    margin-left:1em;
    @media screen and (min-width:500px){
      float:left;
    }
  }  
}

.hero-unit {
  background: url("../images/lbnoise.png");
  padding: 2% 5%;
}

.well {
  background: url("../images/lbnoise.png");
  border: none;
}

.footer {
  margin-top: 2em;
  background: url("../images/lbnoise.png") repeat;
  padding-bottom: 1em;
  div a.btn {
	  margin: 0 5px;
  }
  ul.nav.inline li:first-child {
    padding-left: 0;
  }
.social-buttons{
	float:right;
	  img {
	    border-radius: 7px;
	    box-shadow: -1px -1px 1px #aaaaaa;
	    margin-left: 10px;
	  }
  }
  .nav-footer li {
    margin-right: 28px;
    a {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
    }
  }
  .footer-addr {
	font-family: 'Lato', sans-serif;
  }
}

ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.brownbg {
	clear:both;
  background: url("../images/brown-paper.jpg");
  padding: 25px 0;
  h1 {
    color: #fff;
  }
}

.top-bg {
  background: url("../images/brownnoise.png");
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: -1;
  margin-top: -41px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: transparent;
  color: #1c5006;
}

.navbar {
	.nav.pull-right{
		//margin: 0!important;
	}
  .nav > li > a {
    font-size: 18px;
   // padding: 4px 12px;
   // padding: 15px 20px;
    padding: 10px 10px;
    color: #4f973a;
    text-decoration: none;
    margin-right: 10px;
  }
  margin-top: 15px;
  .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  .brand {
    //padding: 14px 20px 16px;
    padding: 0;
    /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  li > a > span.badge {
	  font-size: 9px;
	  margin-left: 4px;
	  position: relative;
	  bottom: 3px;
	  margin-top: 5px;
	}


	li#menu-item-220, li#menu-item-106 {

	}
//dropdown nav bar
	.nav-collapse, .nav-collapse.collapse {
		background: url("../images/lbnoise.png");
	}
}

/* !carousel */
.carousel {
  box-shadow: 1px 1px 8px #591E00;
  margin-bottom: 0px;
  .container {
    position: relative;
    z-index: 9;
  }

  .item {
    height: 500px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  font-weight:400;
  opacity:1;
}

.carousel-caption {
  background: rgba(89, 30, 0, 0.6);
  border-radius: 15px;
  position: static;
  max-width: 550px;
  padding: 20px 20px;
  margin-top: 230px;
  h1, .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }
  .btn {
    margin-top: 10px;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 265, ../scss/home.scss */

.marketing {
  background: url("../images/lbnoise.png");
  padding: 60px 0;
  .span4 {
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
  .span12.headline {
    margin-bottom: 2em;
  }
  .call-to-action{
    margin-top:2em;
    .tease{
      margin-right:1em;
      font-size: 28px;
      line-height:42px;
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-smoothing: antialiased;
      color: #591E00;
      font-weight: 400;
    }
  }
}

p.tiles-paragraph {
	font-size:18px;
	line-height:24px;
}

.green-marketing {
  background: url("..images/greennoise.png");
  padding: 60px 0;
  .span4 {
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
  .span12.headline {
    margin-bottom: 2em;
  }
}



/* Featurettes
------------------------- */


.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}


.featurette {
  padding-top: 60px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
  .featurette-image {
    margin-top: 0px;
    max-width: 400px;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    &.pull-left {
      margin-right: 40px;
    }
    &.pull-right {
      margin-left: 40px;
    }
  }
  &:first-child {
    margin-top: 2em;
  }
  &:last-child {
	  margin-bottom: 2em;
  }
}

.featurette-small {
  padding-top: 0px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
  .featurette-image {
    margin-top: 0px;
    max-width: 400px;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    &.pull-left {
      margin-right: 40px;
    }
    &.pull-right {
      margin-left: 40px;
    }
  }
  .featurette-content {
    padding-top: 4em;
  }
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* Thin out the marketing headings */

.featurette-heading {
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #258009;
  span{
	  color:#244F09;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 980px){

}
@media (min-width:768px) and (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
   .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
.carousel {
    .item {
      height: 210px;
    }
    img {
      width: auto;
      height: 210px;
    }
  }
  .featurette {
    height: auto;
    padding: 0;
  }

  .featurette-image {
    &.pull-left, &.pull-right {
      display: block;
      float: none;
      max-width: 40%;
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
    .item, img {
      height: 150px;
    }
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
    h1 {
      font-size: 30px;
    }
    .lead, .btn {
      font-size: 18px;
    }
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }

  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}


@media (max-width: 630px) {

  .masthead .button-container {
    width: 40px;
    z-index: 999;
  }
/*
  .nav-collapse, .nav-collapse.collapse {
	  z-index: 999;
	  border-radius: 4px;
  }
*/

  .featurette{
	  .featurette-image{
	  //get ride of the pulls for mobile
		  &:pull-right{
			  margin-left:0!important;
		  }
		  &:pull-left{
			  margin-right: 0!important;
		  }
	  }
  }
}

.masthead {
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  @media screen and (max-width: 1200px) {
	  margin-bottom: 1em;
	  margin-top: .5em;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    margin-top: .5em;
  }
  a.brand {
  	  width: 350px;
	  @media screen and (max-width: 1200px) {
	    width: 300px;
	  }
	  @media screen and (max-width: 767px) {
		  margin-left:10px;
	  }
	  @media screen and (max-width: 400px) {
		width: 225px;
		margin-left: 5px;
		margin-top: 5px;
	  }
/*
	  @media screen and (max-width: 1200px) {
	    width: 300px;
	  }
*/
    img {
    //  width: 100%;
    }
    p {
      text-shadow: none;
      font-weight: normal;
    }
  }
  .button-container {
    button {
      position: relative;
    }
    span.badge {
      position: absolute;
      top: -10px;
      left: 21px;
    }
  }
}

div.row.button-row {
  margin-top: 1em;
}

.product {
  margin-top: 2em;
  position: relative;
  background: #fcfcfc;
  padding: 10px 20px 3px 10px;
  &.row {
    .span4 h2 {
      margin-top: 0;
    }
    .product-title {
      position: absolute;
      top: 3em;
      padding: 5px 10px;
      color: #fff;
      background: rgba(113, 113, 113, 0.8);
    }
    .product-content {
      display: block;
      padding: 1em;
    }
  }
}

img.featured-image {
  margin-bottom: 1em;
}

.article {
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }
  img {
    &.pull-right {
      margin-left: 1em;
    }
    &.pull-left {
      margin-right: 1em;
    }
  }
}

#sidebar1 .cart .item {
  margin-bottom: 1em;
  overflow: auto;
  .image {
    margin-left: 0;
  }
  .info {
    margin-left: 0;
    .badge {
      float: right;
    }
  }
}
//cart well

#sidebar1 .cart-well{
  
}
.stack .row {
  margin-bottom: 2em;
}

.form-horizontal .control-label {
  text-align: left;
}

span.wpcf7-form-control-wrap {
  display: inline;
}

.article img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  &[align="right"] {
    margin-left: 1em;
  }
  &[align="left"] {
    margin-right: 1em;
  }
}

div.widget h4.widgettitle {
	font-size: 25px;
}
div.versus-table {
  .featurette-heading{
    margin:1em 0;
  }
	.vs-graphic {
		position: absolute;
		margin-left: -75px;
		margin-top: 235px;
		z-index:5;
		width: 85px;
		height: 85px;
		background: url("../images/vsbtn.png");
		background-size:cover;
    @media screen and (max-width: 480px) {
      position: relative;
      margin: 0 auto;
    }

	}

	table {

		tr {

			h1 {
				background:#247F09;
				color:#fff !important;
				padding:40px 25px;
				border:0;
				border-bottom:25px solid #50983b;
				font-size:28px;
				margin-bottom:-5px;
				}
		}

		th {
			margin:0 !important;
			padding:0 !important;
		}

		thead {
			padding:0 !important;
			margin:0 !important;
		}

		td {
			background: url("../images/lbnoise.png") repeat;
			margin:0;
			font-size:18px;
			font-weight:300;
			line-height:25px;
			padding:25px 30px !important;
			color:#444;
			border-top:0 !important;
			border-bottom:1px solid #fff !important;
			border-color: #aaa !important;
		}
	}
}