//$break-small: 568px;
$break-small: 767px;
$break-large: 1200px;

.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li{
	  padding-left: 0;
}

.woocommerce ul.products li.product .price{
	font-size: 1em;
}

.woocommerce ul.products li.product .button {
	margin-top:0;
	margin-left:10px;
	display: inline-block;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	width:95%;
	padding: 10px;
	@media screen and (min-width: 600px) {
		width:44%;
	}
	@media screen and (min-width: $break-large) {
	 	width:45%;
	}	
}

.woocommerce-result-count,
body.post-type-archive-product h1.page-title, 
body.post-type-archive-product .woocommerce-ordering{
	display: none;
}
.woocommerce form input{
	height:inherit;
}
.woocommerce-info{
	border-color:#244F09;
	// &:before{
	// 	background-color:#244F09;
	// }
}

.woocommerce-message{
	border-color: #468847;
	// &:before{
	//  	background-color:#468847;
	// }	

}

.woocommerce ul.cart_list li dl, 
.woocommerce-page ul.cart_list li dl, 
.woocommerce ul.product_list_widget li dl, 
.woocommerce-page ul.product_list_widget li dl{
	font-size: .8751em;
}  
.woocommerce ul.cart_list li dl dd, 
.woocommerce-page ul.cart_list li dl dd, 
.woocommerce ul.product_list_widget li dl dd, 
.woocommerce-page ul.product_list_widget li dl dd{
	margin-bottom:0;
}

//hide the credit card input radio box cuz why show just one
input#payment_method_authorize_net_cim{
	display: none;
}

//fix for shipping calculator and cart subtotals
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator{
	width: 100%;
	text-align: left;
	float:none;
	a{

	}
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
	//width: 100%;
	text-align: left;
	float:right;
	width:100%;
	tr th{
		width:50%;
	}
}

// quantity styling
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty{
	margin-bottom:0;

}
form.cart div.quantity.buttons_added{
	display: inline-block;
	float: left;

}
form.cart button.button.alt.add_to_cart_button.product_type_simple{
	float:left;
	margin-left: 1em;

}


.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button

{
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #c8bfc6;
  background: #f7f6f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#e0dadf));
  background: -webkit-linear-gradient(#f7f6f7, #e0dadf);
  background: -moz-linear-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  background: -moz-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  white-space: nowrap;
  display: inline-block;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

// add to cart and other buttons need to be green, not that weird pink
.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt


{

	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #246b09;
	background-image: -moz-linear-gradient(top, #247f09, #244f09);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#247f09), to(#244f09));
	background-image: -webkit-linear-gradient(top, #247f09, #244f09);
	background-image: -o-linear-gradient(top, #247f09, #244f09);
	background-image: linear-gradient(to bottom, #247f09, #244f09);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF247F09', endColorstr='#FF244F09', GradientType=0);
	border-color: #244f09 #244f09 #050a01;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	&:hover,&:focus,&:active{
		color: white;
		background-color: #244f09;
		background: green;
		text-decoration: none;
		// background-position: 0 -15px;
		// -webkit-transition: background-position 0.1s linear;
		// -moz-transition: background-position 0.1s linear;
		// -o-transition: background-position 0.1s linear;
		// transition: background-position 0.1s linear;
	}

}

// My Account Address H3s
.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3{
	font-size: 22px;
}

.woocommerce .col2-set .col-1,.woocommerce .col2-set .col-2{
	  @media screen and (max-width: $break-small) {
		width:100%;
		float:none;

	}
}