/* New Blog (Sept 2016) */

$brown: #361910;
$lightbrown: #6b291a; /*lighter brown */
$green: #2a9d18; 
$lightgreen: #32b91c; /*lighter green */
$gray: #989797;
$graybkgd: #eceae8;

.blog-header {
    padding: 60px 0 10px;
}
#content.blog-page {
    padding-top: 0;
}
.blog-title {
    line-height: 1.1;
}
.blog-title a {
    font-size: 30px;
    color: $brown;
    font-weight: 700;
    margin: 0 0 10px;
    
    &:hover {
        color: $lightbrown;
        text-decoration: none;
    }
}
.blog-meta {
    margin-bottom: 15px;
}
.blog-meta, .blog-meta a {
    font-size: 20px;
    color: $gray;
    text-transform: uppercase;

    &:hover {
        color: $lightbrown;
        text-decoration: none;
    }
}
.blog-excerpt {
    font-size: 17px;
    color: $brown;
    line-height: 1.65;
}
.blog-posts-list {
    background-color: $graybkgd;
    padding: 50px 0;
}
#main article.blog-normal {
    padding: 20px;    
    margin: 20px 0 20px 8.547008547%;
    background-color: white;
    -webkit-box-shadow: 7px 12px 65px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 12px 65px 2px rgba(0,0,0,0.25);
    box-shadow: 7px 12px 65px 2px rgba(0,0,0,0.25);
}    
.blog-spotlight {
    .more-link-container {
        margin-top: 30px;
    }
    .more-link {
        text-decoration: underline;

        &:hover {
            color: $lightgreen;
            text-decoration: none;
        }
    }

}
.blog-normal {
    .more-link-container {
        margin-top: 30px;
    }
    .more-link {
        background-color: $green;
        padding: 10px 25px;
        font-weight: 700;
        font-size: 14px;
        color: white;

        &:hover {
            background-color: $lightgreen;
            text-decoration: none;
        }
    }

}
.blog-search {
    background-color: $brown;
    text-align: right;

    form {
        margin: 10px 0;
    }
    #s {
        font-size: 17px;
        color: #797979;
        height: 15px;
        padding: 12px;
        border: 0;
        border-radius: 0;
        margin: 0;
    }

    #searchsubmit {
        background-color: $green;
        padding: 9px 40px 10px;
        font-size: 19px;
        color: white;
        border: 0;
        margin-left: -3px;

        &:hover {
            background-color: $lightgreen;
            text-decoration: none;
        }
    }
}
.blog-navigation {
    text-align: center;
}

.blog, .archive, .search-results, .search-no-results {
    #main {
        margin-left: 0 !important;
    }
}